@font-face {
  src: url(orchid://fonts/Rubik-VariableFont_wght.ttf);
  font-family: -orchid-standard-font;
}

@font-face {
  font-style: italic;
  src: url(orchid://fonts/Rubik-Italic-VariableFont_wght.ttf);
  font-family: -orchid-standard-font;
}

@font-face {
  src: url(orchid://fonts/NotoSansMono-VariableFont_wdth,wght.ttf);
  font-family: monospace;
}

*,
::placeholder,
::-webkit-file-upload-button {
  font-family: -orchid-standard-font, 'Rubik', 'Jali Arabic', 'IBM Plex Sans Arabic', 'IBM Plex Sans', 'Fira Sans', 'Open Sans', 'Noto Sans', system-ui, sans-serif;
}

pre,
textarea {
  font-family: monospace;
}
