::-webkit-scrollbar {
  width: 0 /* 8px */;
  height: 0 /* 8px */;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  height: 8px;
  border: 2px solid transparent;
  border-radius: 8px;
  background-clip: content-box;
  background-color: #858585;
}

::selection {
  background-color: var(--item-active-plus, rgba(0, 97, 224, 0.3));
}
