#alarms-clock {
  position: relative;
  width: 25rem;
  height: 25rem;
  margin: 2rem auto 3rem;
}

.analog-clock {
  visibility: unset;
  position: absolute;
  width: 25rem;
  height: 25rem;
  transform: scale(1);
  border-radius: 50%;
  background: radial-gradient(circle at 50% 100%, var(--background-plus), transparent);
  box-shadow: -1rem -1rem 1.5rem var(--background-plus), 1rem 1rem 1.5rem var(--background-minus), inset 1rem 1rem 1.5rem var(--background-plus), inset -1rem -1rem 1.5rem var(--background-minus);
  opacity: 1;
  transition: all 0.3s ease;
}

#alarms-clock.digital .analog-clock {
  visibility: hidden;
  transform: scale(0.9);
  box-shadow: 0 0 0 var(--background-plus), 0 0 0 var(--background-minus), inset 0 0 0 var(--background-plus), inset 0 0 0 var(--background-minus);
  opacity: 0;
}

.analog-hour {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 1rem;
  height: 25%;
  margin-bottom: -.5rem;
  margin-left: -.5rem;
  transform-origin: center calc(100% - 0.5rem);
  border-radius: 1rem;
  background: var(--text-color);
  transition: all 0.5s ease;
}

.analog-minute {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: .75rem;
  height: 35%;
  margin-bottom: -.35rem;
  margin-left: -.35rem;
  transform-origin: center calc(100% - 0.35rem);
  border-radius: 1rem;
  background: #858585;
  transition: all 0.5s ease;
}

.analog-second {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 0.5rem;
  height: 45%;
  margin-bottom: -.25rem;
  margin-left: -.25rem;
  transform-origin: center calc(100% - 0.25rem);
  border-radius: 1rem;
  background: var(--accent-color);
  transition: all 0.5s ease;
}

#alarms-clock-digital {
  visibility: hidden;
  position: absolute;
  width: 25rem;
  height: 25rem;
  transform: scale(1.1);
  color: var(--text-color);
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 25rem;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
}

#alarms-clock.digital #alarms-clock-digital {
  visibility: unset;
  transform: scale(1);
  opacity: 1;
}
