#views {
  position: absolute;
  width: 100%;
  height: calc(100% - 6.5rem);
}

.panel {
  visibility: hidden;
  background-color: var(--background);
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.panel.previous {
  transform: translateX(-100%);
}

.panel.next {
  transform: translateX(100%);
}

.panel.visible {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}

#images-container {
  width: 100%;
}

#images-container .category {
  width: 100%;
  max-width: var(--safezone-width);
  margin: 0 auto 1.5rem;
}

#images-container .category .date {
  box-sizing: border-box;
  position: sticky;
  width: 100%;
  height: 3rem;
  padding: 0 1.5rem;
  background: linear-gradient(to bottom, var(--background), transparent);
  color: #858585;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  text-transform: uppercase;
}

#images-container .category .container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  width: 100%;
  padding: 0 1.5rem;
  gap: 0.5rem;
}

#images-container .image {
  aspect-ratio: 1 / 1;
  width: 100%;
  overflow: hidden;
  border-radius: 1.5rem;
  background-color: #000;
}

#images-container .image > img {
  width: 100%;
  height: 100%;
  image-rendering: optimizeSpeed;
}

#image-viewer {
  z-index: 10;
}
