#root {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--list-background);
}

.development:not(.maximized) #root {
  border: solid 0.1rem var(--list-background-border);
}

#titlebar {
  box-sizing: border-box;
  display: flex;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0;
  padding-inline-start: 1.25rem;
  transform: translateY(-100%);
  background-color: var(--list-background);
  transition: transform 0.5s cubic-bezier(0.5, 0.8, 0, 1), visibility 0.3s ease;
}

.development #titlebar {
  visibility: visible;
  transform: translateY(0);
}

#titlebar .text-holder {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

#titlebar .text-holder > img {
  width: 1.6rem;
  height: 1.6rem;
}

#titlebar .text-holder > span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-color-faded);
  font-weight: normal;
  font-size: 1.2rem;
  font-family: system-ui;
}

.active #titlebar .text-holder > span {
  color: var(--text-color);
}

#titlebar .text-holder > span > .beta {
  height: 2rem;
  padding: 0 0.5rem;
  border-radius: 2rem;
  background-image: linear-gradient(to right, #a6a6a6, #a6a6a6);
  color: #6a6a6a;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2rem;
}

.active #titlebar .text-holder > span > .beta {
  background-image: linear-gradient(to right, #ffc000, #ff6040);
  color: rgba(0, 0, 0, 0.75);
}

#titlebar .buttons {
  -webkit-app-region: none;
  display: flex;
  z-index: 5;
  position: relative;
  flex-shrink: 0;
  flex-direction: row-reverse;
  height: 4rem;
}

#titlebar .buttons > button {
  width: 4.8rem;
  height: 4rem;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  line-height: 4rem;
  opacity: 0.5;
}

.active #titlebar .buttons > button {
  opacity: 1;
}

#titlebar .buttons > button::before {
  display: inline-block;
  width: 1.6rem;
  height: 4rem;
  background-color: var(--text-color);
  content: '';
}

#titlebar .buttons > #titlebar-close-button::before {
  mask: url(images/close.svg) no-repeat center / 1.6rem;
}

#titlebar .buttons > #titlebar-maximize-button::before {
  mask: url(images/maximize.svg) no-repeat center / 1.6rem;
}

.maximized #titlebar .buttons > #titlebar-maximize-button::before {
  mask: url(images/restore.svg) no-repeat center / 1.6rem;
}

#titlebar .buttons > #titlebar-minimize-button::before {
  mask: url(images/minimize.svg) no-repeat center / 1.6rem;
}

#titlebar .buttons > #titlebar-options-button::before {
  mask: url(images/options.svg) no-repeat center / 1.6rem;
}

#titlebar .buttons > #titlebar-close-button:hover {
  background-color: #c00040;
}

#titlebar .buttons > #titlebar-close-button:active {
  background-color: rgba(192, 0, 64, 0.5);
}

#titlebar .buttons > button:hover {
  background-color: var(--item-hover);
}

#titlebar .buttons > button:active {
  background-color: var(--item-active);
}

#titlebar .buttons > #titlebar-options-button {
  width: 5rem;
  height: 3rem;
  margin: 0.5rem;
  padding: 0;
  border-radius: 3rem;
  background-color: var(--item-plus);
  line-height: 4rem;
}

#titlebar .buttons > #titlebar-options-button::before {
  height: 3rem;
}

#titlebar .buttons > #titlebar-options-button:hover {
  background-color: var(--item-hover-plus);
}

#titlebar .buttons > #titlebar-options-button:active {
  background-color: var(--item-active-plus);
}

#titlebar .grippy {
  -webkit-app-region: drag;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.development .screen {
  top: 4rem;
  height: calc(100% - 4rem);
}