[submodule "apps/shared/style"]
	path = apps/shared/style
	url = https://github.com/openorchid/CSS-Building-Blocks
[submodule "internal/shared/style"]
	path = internal/shared/style
	url = https://github.com/openorchid/CSS-Building-Blocks
[submodule "internal/fonts"]
	path = internal/fonts
	url = https://github.com/openorchid/orchidtt
