.DS_Store
Thumbs.db

.env.secret

/.build/
node_modules/

/dist/
package-lock.json

/apps/{*}
/apps/confedentials/
build_ts/
build_stage/
/profile/
/output/
tests/results/

logs/
*.log

manifest.*.json
*.af.properties
*.ga.properties
*.sq.properties
*.it.properties
*.ar.properties
*.ja.properties
*.az.properties
*.kn.properties
*.eu.properties
*.ko.properties
*.bn.properties
*.la.properties
*.be.properties
*.lv.properties
*.bg.properties
*.lt.properties
*.ca.properties
*.mk.properties
*.zh.properties
*.ms.properties
*.mt.properties
*.hr.properties
*.no.properties
*.cs.properties
*.fa.properties
*.da.properties
*.pl.properties
*.nl.properties
*.pt.properties
*.ro.properties
*.eo.properties
*.ru.properties
*.et.properties
*.sr.properties
*.tl.properties
*.sk.properties
*.fi.properties
*.sl.properties
*.fr.properties
*.es.properties
*.gl.properties
*.sw.properties
*.ka.properties
*.sv.properties
*.de.properties
*.ta.properties
*.el.properties
*.te.properties
*.gu.properties
*.th.properties
*.ht.properties
*.tr.properties
*.uk.properties
*.hi.properties
*.ur.properties
*.hu.properties
*.vi.properties
*.is.properties
*.cy.properties
*.id.properties
*.yi.properties
