:root {
  --accent-color-primary-r: 0;
  --accent-color-primary-g: 97;
  --accent-color-primary-b: 224;
  --accent-color-secondary-r: 0;
  --accent-color-secondary-g: 97;
  --accent-color-secondary-b: 224;
  --accent-intensity: 15;

  --accent-color: rgb(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b));
  --accent-color-primary: var(--accent-color);
  --accent-color-secondary: rgb(var(--accent-color-secondary-r), var(--accent-color-secondary-g), var(--accent-color-secondary-b));

  --accent-color-plus: rgba(255, 255, 255, 0.75);
  --accent-color-minus: rgba(255, 255, 255, 0.5);
  --accent-color-hover: rgba(255, 255, 255, 0.1);
  --accent-color-active: rgba(255, 255, 255, 0.2);

  --background: rgb(calc(240 + ((var(--accent-color-primary-r) / 255) * var(--accent-intensity))), calc(240 + ((var(--accent-color-primary-g) / 255) * var(--accent-intensity))), calc(240 + ((var(--accent-color-primary-b) / 255) * 15)));
  --background-plus: #ffffff;
  --background-minus: rgb(calc(224 + ((var(--accent-color-primary-r) / 255) * var(--accent-intensity))), calc(224 + ((var(--accent-color-primary-g) / 255) * var(--accent-intensity))), calc(224 + ((var(--accent-color-primary-b) / 255) * var(--accent-intensity))));

  --acrylic-background: rgba(calc(224 + ((var(--accent-color-primary-r) / 255) * var(--accent-intensity))), calc(224 + ((var(--accent-color-primary-g) / 255) * var(--accent-intensity))), calc(224 + ((var(--accent-color-primary-b) / 255) * var(--accent-intensity))), 0.5);
  --acrylic-background-plus: rgba(255, 255, 255, 0.75);

  --translucent-background: rgba(calc(224 + ((var(--accent-color-primary-r) / 255) * var(--accent-intensity))), calc(224 + ((var(--accent-color-primary-g) / 255) * var(--accent-intensity))), calc(224 + ((var(--accent-color-primary-b) / 255) * var(--accent-intensity))), 0.6);
  --translucent-background-plus: rgba(255, 255, 255, 0.8);

  --text-color: rgb(calc(51 + ((var(--accent-color-secondary-r) / 255) * var(--accent-intensity))), calc(51 + ((var(--accent-color-secondary-r) / 255) * var(--accent-intensity))), calc(51 + ((var(--accent-color-secondary-r) / 255) * var(--accent-intensity))));
  --text-color-faded: rgba(calc(51 + ((var(--accent-color-secondary-r) / 255) * var(--accent-intensity))), calc(51 + ((var(--accent-color-secondary-r) / 255) * var(--accent-intensity))), calc(51 + ((var(--accent-color-secondary-r) / 255) * var(--accent-intensity))), 0.5);

  --item-plus: rgba(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b), 0.1);
  --item-hover: rgba(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b), 0.1);
  --item-hover-plus: rgba(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b), 0.2);
  --item-active: rgba(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b), 0.2);
  --item-active-plus: rgba(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b), 0.3);

  --separator-color: rgba(0, 0, 0, 0.1);
  --ripple-color: rgba(0, 0, 0, 0.3);

  --headerbar-r: calc(240 + ((var(--accent-color-primary-r) / 255) * var(--accent-intensity)));
  --headerbar-g: calc(240 + ((var(--accent-color-primary-g) / 255) * var(--accent-intensity)));
  --headerbar-b: calc(240 + ((var(--accent-color-primary-b) / 255) * var(--accent-intensity)));
  --header-background: rgba(var(--headerbar-r), var(--headerbar-g), var(--headerbar-b), 0.75);

  --button-normal: rgba(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b), 0.25);
  --button-hover: rgba(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b), 0.375);
  --button-active: rgba(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b), 0.5);

  --switch-normal: rgba(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b), 0.25);
  --switch-hover: rgba(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b), 0.375);
  --switch-active: rgba(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b), 0.5);

  --checkbox-normal: rgba(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b), 0.25);
  --checkbox-hover: rgba(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b), 0.375);
  --checkbox-active: rgba(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b), 0.5);

  --radio-normal: rgba(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b), 0.25);
  --radio-hover: rgba(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b), 0.375);
  --radio-active: rgba(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b), 0.5);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --accent-color-primary-r: 128;
    --accent-color-primary-g: 194;
    --accent-color-primary-b: 255;
    --accent-color-secondary-r: 128;
    --accent-color-secondary-g: 194;
    --accent-color-secondary-b: 255;
    --accent-intensity: 24;

    --accent-color-plus: rgba(0, 0, 0, 0.75);
    --accent-color-minus: rgba(0, 0, 0, 0.5);
    --accent-color-hover: rgba(0, 0, 0, 0.1);
    --accent-color-active: rgba(0, 0, 0, 0.2);

    --background: rgb(calc(24 + ((var(--accent-color-primary-r) / 255) * var(--accent-intensity))), calc(24 + ((var(--accent-color-primary-g) / 255) * var(--accent-intensity))), calc(24 + ((var(--accent-color-primary-b) / 255) * var(--accent-intensity))));
    --background-plus: rgb(calc(48 + ((var(--accent-color-secondary-r) / 255) * var(--accent-intensity))), calc(48 + ((var(--accent-color-secondary-g) / 255) * var(--accent-intensity))), calc(48 + ((var(--accent-color-secondary-b) / 255) * var(--accent-intensity))));
    --background-minus: rgb(calc(16 + ((var(--accent-color-primary-r) / 255) * var(--accent-intensity))), calc(16 + ((var(--accent-color-primary-g) / 255) * var(--accent-intensity))), calc(16 + ((var(--accent-color-primary-b) / 255) * var(--accent-intensity))));

    --acrylic-background: rgba(calc(24 + ((var(--accent-color-primary-r) / 255) * var(--accent-intensity))), calc(24 + ((var(--accent-color-primary-g) / 255) * var(--accent-intensity))), calc(24 + ((var(--accent-color-primary-b) / 255) * var(--accent-intensity))), 0.3);
    --acrylic-background-plus: rgba(calc(48 + ((var(--accent-color-secondary-r) / 255) * var(--accent-intensity))), calc(48 + ((var(--accent-color-secondary-g) / 255) * var(--accent-intensity))), calc(48 + ((var(--accent-color-secondary-b) / 255) * var(--accent-intensity))), 0.6);

    --translucent-background: rgba(calc(24 + ((var(--accent-color-primary-r) / 255) * var(--accent-intensity))), calc(24 + ((var(--accent-color-primary-g) / 255) * var(--accent-intensity))), calc(24 + ((var(--accent-color-primary-b) / 255) * var(--accent-intensity))), 0.6);
    --translucent-background-plus: rgba(calc(48 + ((var(--accent-color-secondary-r) / 255) * var(--accent-intensity))), calc(48 + ((var(--accent-color-secondary-g) / 255) * var(--accent-intensity))), calc(48 + ((var(--accent-color-secondary-b) / 255) * var(--accent-intensity))), 0.8);

    --text-color: rgb(calc(231 + ((var(--accent-color-secondary-r) / 255) * var(--accent-intensity))), calc(231 + ((var(--accent-color-secondary-r) / 255) * var(--accent-intensity))), calc(231 + ((var(--accent-color-secondary-r) / 255) * var(--accent-intensity))));
    --text-color-faded: rgba(calc(231 + ((var(--accent-color-secondary-r) / 255) * var(--accent-intensity))), calc(231 + ((var(--accent-color-secondary-r) / 255) * var(--accent-intensity))), calc(231 + ((var(--accent-color-secondary-r) / 255) * var(--accent-intensity))), 0.5);

    --separator-color: rgba(255, 255, 255, 0.1);
    --ripple-color: rgba(255, 255, 255, 0.3);

    --headerbar-r: calc(24 + ((var(--accent-color-primary-r) / 255) * var(--accent-intensity)));
    --headerbar-g: calc(24 + ((var(--accent-color-primary-g) / 255) * var(--accent-intensity)));
    --headerbar-b: calc(24 + ((var(--accent-color-primary-b) / 255) * var(--accent-intensity)));
  }
}

[data-red-light-point="true"] {
  --accent-color: #ff0000;
  --accent-color-plus: rgba(0, 0, 0, 0.75);
  --accent-color-minus: rgba(0, 0, 0, 0.5);
  --accent-color-hover: rgba(0, 0, 0, 0.1);
  --accent-color-active: rgba(0, 0, 0, 0.2);

  --background: #000;
  --background-plus: #101010;
  --background-minus: #080808;

  --acrylic-background: rgba(8, 8, 8, 0.5);
  --acrylic-background-plus: rgba(16, 16, 16, 0.75);

  --translucent-background: rgba(8, 8, 8, 0.6);
  --translucent-background-plus: rgba(16, 16, 16, 0.8);

  --text-color: #ff0000;
  --text-color-faded: rgba(255, 0, 0, 0.5);

  --separator-color: rgba(255, 255, 255, 0.1);
  --ripple-color: rgba(255, 0, 0, 0.3);

  --item-plus: rgba(255, 0, 0, 0.1);
  --item-hover: rgba(255, 0, 0, 0.1);
  --item-hover-plus: rgba(255, 0, 0, 0.2);
  --item-active: rgba(255, 0, 0, 0.2);
  --item-active-plus: rgba(255, 0, 0, 0.3);

  --headerbar-r: 128;
  --headerbar-g: 0;
  --headerbar-b: 0;

  --button-normal: #101010;
  --button-hover: #201010;
  --button-active: #301010;

  --switch-normal: #080808;
  --switch-hover: #180808;
  --switch-active: #280808;

  --checkbox-normal: #080808;
  --checkbox-hover: #180808;
  --checkbox-active: #280808;

  --radio-normal: #080808;
  --radio-hover: #180808;
  --radio-active: #280808;
}
