:root {
  --accent-color-primary-r: 51;
  --accent-color-primary-g: 51;
  --accent-color-primary-b: 51;
  --accent-color-secondary-r: 0;
  --accent-color-secondary-g: 97;
  --accent-color-secondary-b: 224;
  --accent-intensity: 15;
  --accent-intensity-minus: 40;
  --accent-text-intensity: 44;

  --accent-color: rgb(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b));
  --accent-color-primary: var(--accent-color);
  --accent-color-secondary: rgb(var(--accent-color-secondary-r), var(--accent-color-secondary-g), var(--accent-color-secondary-b));

  --accent-text-color: rgba(255, 255, 255, 0.75);
  --accent-color-minus: rgba(255, 255, 255, 0.5);
  --accent-color-plus: rgba(255, 255, 255, 0.1);
  --accent-color-hover: rgba(255, 255, 255, 0.1);
  --accent-color-active: rgba(255, 255, 255, 0.2);

  --color-red: #c00040;
  --color-brown: #a04030;
  --color-orange: #ff6040;
  --color-yellow: #ffc000;
  --color-lime: #40ff80;
  --color-green: #00b050;
  --color-cyan: #00ddff;
  --color-sky: #80c2ff;
  --color-blue: #0061e0;
  --color-purple: #8000a0;
  --color-magenta: #c020a0;
  --color-pink: #ff80c0;

  --color-alpha: #ffffff;
  --color-beta: #f0f6ff;
  --color-gamma: #e7e9ec;
  --color-delta: #b0ddff;

  --background: rgb(calc(240 + ((var(--accent-color-primary-r) / 255) * var(--accent-intensity))), calc(240 + ((var(--accent-color-primary-g) / 255) * var(--accent-intensity))), calc(240 + ((var(--accent-color-primary-b) / 255) * 15)));
  --background-plus: #ffffff;
  --background-minus: rgb(calc(224 + ((var(--accent-color-primary-r) / 255) * var(--accent-intensity-minus))), calc(224 + ((var(--accent-color-primary-g) / 255) * var(--accent-intensity-minus))), calc(224 + ((var(--accent-color-primary-b) / 255) * var(--accent-intensity-minus))));

  --acrylic-background: rgba(255, 255, 255, 0.5);
  --acrylic-background-plus: rgba(255, 255, 255, 0.75);

  --acrylic-background: rgba(255, 255, 255, 0.6);
  --acrylic-background-plus: rgba(255, 255, 255, 0.8);

  --list-background: var(--background-plus);
  --list-background-border: transparent;
  --list-radius: 1.5rem;
  --list-item-radius: 1rem;
  --list-item-hover: rgba(0, 0, 0, 0.05);
  --list-item-active: rgba(0, 0, 0, 0.1);
  --list-item-selected: rgba(var(--accent-color-primary-r), var(--accent-color-primary-g), var(--accent-color-primary-b), 0.2);

  --text-color: rgb(calc(51 + ((var(--accent-color-secondary-r) / 255) * var(--accent-text-intensity))), calc(51 + ((var(--accent-color-secondary-r) / 255) * var(--accent-text-intensity))), calc(51 + ((var(--accent-color-secondary-r) / 255) * var(--accent-text-intensity))));
  --text-color-faded: rgba(calc(51 + ((var(--accent-color-secondary-r) / 255) * var(--accent-text-intensity))), calc(51 + ((var(--accent-color-secondary-r) / 255) * var(--accent-text-intensity))), calc(51 + ((var(--accent-color-secondary-r) / 255) * var(--accent-text-intensity))), 0.5);

  --item-plus: rgba(0, 0, 0, 0.1);
  --item-hover: rgba(0, 0, 0, 0.1);
  --item-hover-plus: rgba(0, 0, 0, 0.2);
  --item-active: rgba(0, 0, 0, 0.2);
  --item-active-plus: rgba(0, 0, 0, 0.3);

  --separator-color: rgba(0, 0, 0, 0.1);
  --ripple-color: rgba(0, 0, 0, 0.3);

  --headerbar-background-r: calc(232 + ((var(--accent-color-primary-r) / 255) * var(--accent-intensity)));
  --headerbar-background-g: calc(232 + ((var(--accent-color-primary-g) / 255) * var(--accent-intensity)));
  --headerbar-background-b: calc(232 + ((var(--accent-color-primary-b) / 255) * var(--accent-intensity)));

  --header-background: rgba(var(--headerbar-background-r), var(--headerbar-background-g), var(--headerbar-background-b), 0.75);

  --button-normal: rgba(0, 0, 0, 0.1);
  --button-hover: rgba(0, 0, 0, 0.2);
  --button-active: rgba(0, 0, 0, 0.3);

  --switch-normal: rgba(0, 0, 0, 0.1);
  --switch-hover: rgba(0, 0, 0, 0.2);
  --switch-active: rgba(0, 0, 0, 0.3);

  --checkbox-normal: rgba(0, 0, 0, 0.1);
  --checkbox-hover: rgba(0, 0, 0, 0.2);
  --checkbox-active: rgba(0, 0, 0, 0.3);

  --radio-normal: rgba(0, 0, 0, 0.1);
  --radio-hover: rgba(0, 0, 0, 0.2);
  --radio-active: rgba(0, 0, 0, 0.3);

  --input-background: rgba(0, 0, 0, 0.05);

  --slider-background: rgba(0, 0, 0, 0.1);

  --browser-toolbar-color: rgba(255, 255, 255, 0.6);
  --browser-selected-tab: rgba(255, 255, 255, 0.75);

  --browser-text-color: rgba(51, 51, 51, 0.75);
  --browser-text-color-faded: rgba(51, 51, 51, 0.4);

  --browser-item-plus: rgba(0, 0, 0, 0.05);
  --browser-item-hover: rgba(0, 0, 0, 0.1);
  --browser-item-active: rgba(0, 0, 0, 0.2);

  --browser-urlbar-normal: rgba(255, 255, 255, 0.3);
  --browser-urlbar-hover: rgba(255, 255, 255, 0.4);

  --tray-button-background: rgba(255, 255, 255, 0.6);
  --tray-button-background-plus: rgba(51, 51, 51, 0.1);

  --tray-button-background-active: rgba(51, 51, 51, 0.5);

  --tray-slider-background: rgba(0, 0, 0, 0.5);
  --tray-slider-background-fill: rgba(255, 255, 255, 0.6);
  --tray-slider-icon-color: transparent;

  --tray-border-color: rgba(0, 0, 0, 0.1);

  --tray-button-text-color: #333;
  --tray-button-text-color-faded: rgba(51, 51, 51, 0.5);

  --tray-button-active-text-color: #e7e7e7;
  --tray-button-active-text-color-faded: rgba(231, 231, 231, 0.5);

  --tray-button-radius: 2rem;
  --tray-panel-radius: 2.25rem;

  --search-background: rgba(0, 0, 0, 0.1);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --accent-color-primary-r: 231;
    --accent-color-primary-g: 231;
    --accent-color-primary-b: 231;
    --accent-color-secondary-r: 128;
    --accent-color-secondary-g: 194;
    --accent-color-secondary-b: 255;
    --accent-intensity: 10;

    --accent-text-color: rgba(0, 0, 0, 0.75);
    --accent-color-minus: rgba(0, 0, 0, 0.5);
    --accent-color-plus: rgba(0, 0, 0, 0.1);
    --accent-color-hover: rgba(0, 0, 0, 0.1);
    --accent-color-active: rgba(0, 0, 0, 0.2);

    --background: #000000;
    --background-plus: rgb(calc(24 + ((var(--accent-color-secondary-r) / 255) * var(--accent-intensity))), calc(24 + ((var(--accent-color-secondary-g) / 255) * var(--accent-intensity))), calc(24 + ((var(--accent-color-secondary-b) / 255) * var(--accent-intensity))));
    --background-minus: rgb(calc(12 + ((var(--accent-color-primary-r) / 255) * var(--accent-intensity))), calc(12 + ((var(--accent-color-primary-g) / 255) * var(--accent-intensity))), calc(12 + ((var(--accent-color-primary-b) / 255) * var(--accent-intensity))));

    --acrylic-background: rgba(0, 0, 0, 0.5);
    --acrylic-background-plus: rgba(0, 0, 0, 0.75);

    --acrylic-background: rgba(8, 8, 8, 0.6);
    --acrylic-background-plus: rgba(32, 32, 32, 0.8);

    --list-item-hover: rgba(255, 255, 255, 0.05);
    --list-item-active: rgba(255, 255, 255, 0.1);

    --text-color: rgb(calc(211 + ((var(--accent-color-secondary-r) / 255) * var(--accent-text-intensity))), calc(211 + ((var(--accent-color-secondary-r) / 255) * var(--accent-text-intensity))), calc(211 + ((var(--accent-color-secondary-r) / 255) * var(--accent-text-intensity))));
    --text-color-faded: rgba(calc(211 + ((var(--accent-color-secondary-r) / 255) * var(--accent-text-intensity))), calc(211 + ((var(--accent-color-secondary-r) / 255) * var(--accent-text-intensity))), calc(211 + ((var(--accent-color-secondary-r) / 255) * var(--accent-text-intensity))), 0.5);

    --item-plus: rgba(255, 255, 255, 0.1);
    --item-hover: rgba(255, 255, 255, 0.1);
    --item-hover-plus: rgba(255, 255, 255, 0.2);
    --item-active: rgba(255, 255, 255, 0.2);
    --item-active-plus: rgba(255, 255, 255, 0.3);

    --separator-color: rgba(255, 255, 255, 0.1);
    --ripple-color: rgba(255, 255, 255, 0.3);

    --headerbar-background-r: 16;
    --headerbar-background-g: 16;
    --headerbar-background-b: 16;

    --button-normal: rgba(255, 255, 255, 0.1);
    --button-hover: rgba(255, 255, 255, 0.2);
    --button-active: rgba(255, 255, 255, 0.3);

    --switch-normal: rgba(255, 255, 255, 0.1);
    --switch-hover: rgba(255, 255, 255, 0.2);
    --switch-active: rgba(255, 255, 255, 0.3);

    --checkbox-normal: rgba(255, 255, 255, 0.1);
    --checkbox-hover: rgba(255, 255, 255, 0.2);
    --checkbox-active: rgba(255, 255, 255, 0.3);

    --radio-normal: rgba(255, 255, 255, 0.1);
    --radio-hover: rgba(255, 255, 255, 0.2);
    --radio-active: rgba(255, 255, 255, 0.3);

    --input-background: rgba(255, 255, 255, 0.05);

    --slider-background: rgba(255, 255, 255, 0.1);

    --browser-toolbar-color: rgba(51, 51, 51, 0.6);
    --browser-selected-tab: rgba(51, 51, 51, 0.75);

    --browser-text-color: rgba(232, 232, 232, 0.75);
    --browser-text-color-faded: rgba(232, 232, 232, 0.4);

    --browser-item-plus: rgba(255, 255, 255, 0.05);
    --browser-item-hover: rgba(255, 255, 255, 0.1);
    --browser-item-active: rgba(255, 255, 255, 0.2);

    --browser-urlbar-normal: rgba(255, 255, 255, 0.1);
    --browser-urlbar-hover: rgba(255, 255, 255, 0.2);

    --tray-button-background: rgba(0, 0, 0, 0.6);
    --tray-button-background-plus: rgba(255, 255, 255, 0.1);

    --tray-button-background-active: rgba(255, 255, 255, 0.5);

    --tray-border-color: rgba(255, 255, 255, 0.1);

    --tray-button-text-color: #fff;
    --tray-button-text-color-faded: rgba(255, 255, 255, 0.5);

    --search-background: rgba(255, 255, 255, 0.1);
  }
}

.red-light {
  --accent-color: #ff0000;
  --accent-text-color: rgba(0, 0, 0, 0.75);
  --accent-color-minus: rgba(0, 0, 0, 0.5);
  --accent-color-plus: rgba(0, 0, 0, 0.1);
  --accent-color-hover: rgba(0, 0, 0, 0.1);
  --accent-color-active: rgba(0, 0, 0, 0.2);

  --background: #000;
  --background-plus: #101010;
  --background-minus: #080808;

  --acrylic-background: rgba(8, 8, 8, 0.5);
  --acrylic-background-plus: rgba(16, 16, 16, 0.75);

  --translucent-background: rgba(8, 8, 8, 0.6);
  --translucent-background-plus: rgba(16, 16, 16, 0.8);

  --list-background-border: #ff0000;

  --text-color: #ff0000;
  --text-color-faded: rgba(255, 0, 0, 0.5);

  --separator-color: rgba(255, 255, 255, 0.1);
  --ripple-color: rgba(255, 0, 0, 0.3);

  --item-plus: rgba(255, 0, 0, 0.1);
  --item-hover: rgba(255, 0, 0, 0.1);
  --item-hover-plus: rgba(255, 0, 0, 0.2);
  --item-active: rgba(255, 0, 0, 0.2);
  --item-active-plus: rgba(255, 0, 0, 0.3);

  --headerbar-background-r: 32;
  --headerbar-background-g: 16;
  --headerbar-background-b: 16;

  --button-normal: #101010;
  --button-hover: #201010;
  --button-active: #301010;

  --switch-normal: #080808;
  --switch-hover: #180808;
  --switch-active: #280808;

  --checkbox-normal: #080808;
  --checkbox-hover: #180808;
  --checkbox-active: #280808;

  --radio-normal: #080808;
  --radio-hover: #180808;
  --radio-active: #280808;
}
