#attached-media {
  box-sizing: border-box;
  display: flex;
  visibility: hidden;
  width: 100%;
  height: 0;
  padding: 0 0.5rem;
  gap: 0.5rem;
  border-radius: 2rem;
  background: var(--background) linear-gradient(0deg, var(--background-plus), var(--background-plus));
  opacity: 0;
  transition: all 0.3s ease;
}

#attached-media.visible {
  visibility: visible;
  height: 10rem;
  margin-bottom: 1rem;
  opacity: 1;
}

#attached-media > .image,
#attached-media > .video {
  min-width: 9rem;
  height: 9rem;
  margin: 0.5rem 0;
  overflow: hidden;
  object-fit: contain;
  border-radius: 1.5rem;
  background-color: var(--item-plus);
}

.message .media {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 0.2rem;
  background: var(--background-plus);
}

.message .media:empty {
  display: none;
}

.message .media > .image,
.message .media > .video {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  max-height: 20rem;
  object-fit: contain;
}

.message .media > .image:first-child,
.message .media > .video:first-child {
  grid-row: span 2;
  grid-column: span 2;
}

.message .media > .image:first-child:last-child,
.message .media > .video:first-child:last-child {
  grid-row: span 2;
  grid-column: span 3;
}
