#chat {
  --safezone-width: 102.4rem;
}

#chat-name {
  padding: 0 0.5rem;
  font-weight: normal;
  font-size: 1.6rem;
}

#chat-avatar {
  border-radius: 50%;
}

#servers-list {
  height: 10rem;
  padding: 0;
  background-color: transparent;
}

#add-friend-notice {
  display: none;
  margin: 1rem 0 0;
}

#add-friend-notice.visible {
  display: block;
}

#add-friend-notice.error {
  color: #c00040;
}

#add-friend-notice.alert {
  color: var(--accent-color);
}

.messages {
  box-sizing: border-box;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--safezone-width);
  height: 100%;
  margin: 0 auto;
  padding-bottom: calc(5rem + var(--software-buttons-height));
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.messages::-webkit-scrollbar {
  display: none;
}

.message {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
}

.message:hover {
  z-index: 1;
  background-color: var(--item-hover);
  transition: background-color 0.1s ease;
}

.message:not(.yours) {
  animation: message-appear 0.5s cubic-bezier(0.5, 0.8, 0, 1.1);
}

@keyframes message-appear {
  from {
    transform: translateY(3rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.message.yours {
  flex-direction: row-reverse;
}

.message.yours + .message.yours {
  margin-top: -0.5rem;
}

.message:not(.yours) + .message:not(.yours) {
  margin-top: -0.5rem;
}

.message > .image-container {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 6rem;
  height: 100%;
  padding: 0 1rem;
}

.message > .image-container img {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
}

.message.yours + .message.yours > .image-container img,
.message:not(.yours) + .message:not(.yours) > .image-container img {
  display: none;
}

.message > .text-holder {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message > .text-holder .content {
  position: relative;
  max-width: calc(100% - 6rem);
  margin-inline-end: auto;
  overflow: hidden;
  background-color: var(--background-plus);
}
html[dir="ltr"] .message > .text-holder .content {
  border-radius: 2rem 2rem 2rem 0.6rem;
}
html[dir="rtl"] .message > .text-holder .content {
  border-radius: 2rem 2rem 0.6rem 2rem;
}
html[dir="ltr"] .message:not(.yours) + .message:not(.yours) > .text-holder .content {
  border-radius: 0.6rem 2rem 2rem 0.6rem;
}
html[dir="rtl"] .message:not(.yours) + .message:not(.yours) > .text-holder .content {
  border-radius: 2rem 0.6rem 0.6rem 2rem;
}

.message > .text-holder .content.emojis {
  border-radius: 0 !important;
  background-color: transparent !important;
}

.message:not(.yours):hover > .text-holder .content {
  background-color: var(--item-plus);
}

.message.yours > .text-holder .content {
  margin-inline-start: auto;
  margin-inline-end: 0;
  background-color: var(--accent-color);
}
html[dir="ltr"] .message.yours > .text-holder .content {
  border-radius: 2rem 2rem 0.6rem 2rem;
}
html[dir="rtl"] .message.yours > .text-holder .content {
  border-radius: 2rem 2rem 2rem 0.6rem;
}
html[dir="ltr"] .message.yours + .message.yours > .text-holder .content {
  border-radius: 2rem 0.6rem 0.6rem 2rem;
}
html[dir="rtl"] .message.yours + .message.yours > .text-holder .content {
  border-radius: 0.6rem 2rem 2rem 0.6rem;
}

.message > .text-holder .content > .text {
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.4rem;
}

.message > .text-holder .content.emojis > .text {
  display: flex;
  padding: 0;
  gap: 0.5rem;
  font-size: 4rem;
}

.message.yours > .text-holder .content > .text {
  color: var(--accent-color-plus);
}

.message > .text-holder .message-info {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
  gap: 0.3rem;
  color: var(--text-color-faded);
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 2rem;
}

.message.yours > .text-holder .message-info {
  flex-direction: row-reverse;
}

.message > .text-holder .message-info > .separator {
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  background-color: var(--text-color);
}

.message.yours > .text-holder .message-info {
  justify-content: end;
}

.message.yours + .message.yours > .text-holder .message-info,
.message:not(.yours) + .message:not(.yours) > .text-holder .message-info {
  display: none;
}

.message .media {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 0.2rem;
  background: var(--background-plus);
}

.message .media:empty {
  display: none;
}

.message .media > .image,
.message .media > .video {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  max-height: 20rem;
  object-fit: contain;
}

.message .media > .image:first-child,
.message .media > .video:first-child {
  grid-row: span 2;
  grid-column: span 2;
}

.message .media > .image:first-child:last-child,
.message .media > .video:first-child:last-child {
  grid-row: span 2;
  grid-column: span 3;
}

.message .translator {
  display: flex;
  align-items: center;
  margin: 0.3rem 0 0;
  gap: 1rem;
}

.message .translator .icon {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  background: url(images/google_translate.png) no-repeat center / cover;
}

.message .translator > label {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: max-content;
  gap: 1rem;
}

.message .translator > label .text {
  flex-shrink: 0;
  width: max-content;
  color: var(--text-color-faded);
  font-weight: normal;
  font-size: 1.6rem;
}

.message.yours .translator,
.message.yours .translator > label {
  flex-direction: row-reverse;
}

.message > .toolbar {
  box-sizing: border-box;
  display: flex;
  visibility: hidden;
  position: absolute;
  top: -1rem;
  height: 4rem;
  padding: 0.5rem;
  overflow: hidden;
  transform: scale(0.9);
  border-radius: 2rem;
  background-color: var(--background-plus);
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}
html[dir="ltr"] .message > .toolbar {
  right: 1.5rem;
}
html[dir="rtl"] .message > .toolbar {
  left: 1.5rem;
}

html[dir="ltr"] .message.yours > .toolbar {
  right: unset;
  left: 1.5rem;
}
html[dir="rtl"] .message.yours > .toolbar {
  right: 1.5rem;
  left: unset;
}

.message:hover > .toolbar {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.message > .toolbar button {
  position: relative;
  width: max-content;
  height: 3rem;
  margin: 0;
  padding: 0 1rem;
  overflow: visible;
  border-radius: 1.5rem;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 3rem;
  transition: background-color 0.3s ease;
}

.message > .toolbar button:hover {
  background-color: var(--item-hover);
  transition: background-color 0.1s ease;
}

.message > .toolbar button:active {
  background-color: var(--item-active);
  transition: background-color 0.1s ease;
}

.message > .toolbar button[data-icon]::before {
  position: static;
  height: 3rem;
  font-size: 2rem;
  line-height: 3rem;
}

.message > .toolbar button::after {
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 0.1rem;
  height: 2rem;
  border-radius: 0.1rem;
  background-color: var(--item-plus);
  content: '';
}

.message > .toolbar button:first-child::after,
.message > .toolbar button:hover::after,
.message > .toolbar button:active::after,
.message > .toolbar button:hover + button::after,
.message > .toolbar button:active + button::after {
  display: none;
}

.messagebox-container {
  box-sizing: border-box;
  z-index: 5;
  width: 100%;
  max-width: var(--safezone-width);
  margin: 0 auto;
  margin-top: calc(-4.6rem - var(--software-buttons-height));
  padding: 0 1.5rem calc(var(--software-buttons-height) + 1rem);
  background-image: linear-gradient(to bottom, transparent 2.3rem, var(--background) 4.6rem)
}

.messagebox-container .bb-messagebox {
  backdrop-filter: blur(20px) saturate(180%);
}

#messagebox-send-button:not(.from-scale) {
  animation: send-button-appear 0.5s cubic-bezier(0.5, 0.8, 0, 1.1);
}

@keyframes send-button-appear {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

#chat-options {
  z-index: 50;
  position: absolute;
  top: calc(var(--statusbar-height) + 4.3rem);
}
html[dir="ltr"] #chat-options {
  right: 1rem;
}
html[dir="rtl"] #chat-options {
  left: 1rem;
}

#media-viewer-carousel {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  transform: translateX(0) !important;
  scroll-snap-type: x mandatory;
}

#media-viewer-carousel > * {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  scroll-snap-align: center;
}

@media screen and (min-width: 768px) {
  #root {
    box-sizing: border-box;
    visibility: visible;
    z-index: 1;
    position: absolute;
    top: 0;
    width: 32rem;
    height: 100%;
    transform: none;
    filter: none;
    opacity: 1;
  }
  html[dir="ltr"] #root {
    left: 0;
  }
  html[dir="rtl"] #root {
    right: 0;
  }

  #root.visible {
    width: 100%;
    border-inline-end: none;
  }

  #root > section > *:not(.scroll-content, .scrollbar-track, .bb-emptyscreen),
  #root > section > .scroll-content > *:not(.bb-emptyscreen) {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }

  [role="panel"]:not(#root) {
    position: absolute;
    top: 0;
    width: calc(100% - 32rem);
    height: 100%;
  }
  html[dir="ltr"] [role="panel"]:not(#root) {
    left: 32rem;
  }
  html[dir="rtl"] [role="panel"]:not(#root) {
    right: 32rem;
  }
}
