#bookmarks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.75rem, 1fr));
  gap: 1rem;
}

.bookmark {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  border-radius: 1.5rem;
  background-color: var(--background-plus);
  transition: background-color 0.3s ease;
}

.bookmark:hover {
  background-color: var(--item-hover);
  transition: background-color 0.1s ease;
}

.bookmark:active {
  background-color: var(--item-active);
  transition: background-color 0.1s ease;
}

.bookmark .icon-holder {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 0 0;
}

.bookmark .icon-holder > img {
  box-sizing: border-box;
  display: block;
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  padding: 0.6rem;
  object-fit: cover;
  border-radius: 25%;
  background-color: var(--item-plus);
}

.bookmark .name {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 0.5rem;
  padding: 0.2rem 0 0;
  overflow: hidden;
  color: var(--text-color);
  font-weight: normal;
  font-size: 1.3rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
