<!DOCTYPE html>
<html lang="en" dir="ltr" class="contrast-text">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout</title>
  <link rel="stylesheet" type="text/css" href="http://default_theme.localhost:9920/style/index.css">
  <link rel="stylesheet" type="text/css" href="../../../default_theme/style/index.css">
  <link rel="stylesheet" type="text/css" href="../icons/icons.css">
  <link rel="stylesheet" type="text/css" href="../layout.css">
  <link rel="stylesheet" type="text/css" href="../headers.css">
  <link rel="stylesheet" type="text/css" href="../lists.css">
  <link rel="stylesheet" type="text/css" href="../buttons.css">
  <link rel="stylesheet" type="text/css" href="../switches.css">
  <link rel="stylesheet" type="text/css" href="../checkboxes.css">
  <link rel="stylesheet" type="text/css" href="../seekbars.css">
  <link rel="stylesheet" type="text/css" href="../radios.css">
  <link rel="stylesheet" type="text/css" href="../input_areas.css">
  <link rel="stylesheet" type="text/css" href="../videos.css">
  <script type="text/javascript" src="/js/lazy_loader.js"></script>
  <script type="text/javascript" src="/js/orchidjs.js"></script>
</head>
<body>
  <main role="app">
    <section class="visible" role="panel">
      <header>
        <a href="#" data-icon="menu"></a>
        <h1>App Name</h1>
        <menu role="toolbar">
          <a href="#" data-icon="search"></a>
        </menu>
      </header>

      <header>
        <h3>This is a <span class="active">active</span> subheader</h3>
      </header>

      <section class="lists">
        <div class="bb-video">
          <video src=""></video>

          <div class="controls">
            <button data-icon="seek-back-seconds"></button>
            <button data-icon="skip-back-alt"></button>
            <button class="playpause-button" data-icon="pause-alt"></button>
            <button data-icon="skip-forward-alt"></button>
            <button data-icon="seek-forward-seconds"></button>
          </div>

          <div class="toolbar">
            <div class="scrubber">
              <div class="time">
                <div class="current-time">1:00</div>
                <div class="separator"></div>
                <div class="duration">10:00</div>
              </div>
              <div class="slider-holder">
                <input type="range" name="" id="">
              </div>
            </div>
            <div class="buttons">
              <button data-icon="picture-in-picture"></button>
              <button data-icon="fullscreen"></button>
            </div>
          </div>
        </div>

        <header>List Items</header>
        <ul>
          <li>
            <p>I'm clickable</p>
          </li>
          <li class="noclick">
            <p>I'm not clickable</p>
          </li>
          <li>
            <p>I'm clickable too</p>
            <p>And also with a description</p>
          </li>
          <li>
            <p>I'm also clickable</p>
            <p>And also with a description</p>
            <p>And a another</p>
          </li>
          <li>No paragraph item</li>
        </ul>

        <header>Buttons</header>
        <ul>
          <li>
            <button>Default</button>
          </li>
          <li>
            <button class="recommend">Recommend</button>
          </li>
          <li>
            <button class="danger">Danger</button>
          </li>
        </ul>

        <header>Switches</header>
        <ul>
          <li>
            <div class="pack-switch">
              <label for="switch1">
                <p>Switch off</p>
              </label>
              <span>
                <input type="checkbox" name="switch1" id="switch1">
              </span>
            </div>
          </li>
          <li>
            <div class="pack-switch">
              <label for="switch2">
                <p>Switch on</p>
              </label>
              <span>
                <input type="checkbox" name="switch2" id="switch2" checked>
              </span>
            </div>
          </li>
        </ul>

        <header>Checkboxes</header>
        <ul>
          <li>
            <div class="pack-checkbox">
              <label for="checkbox1">
                <p>Checkbox off</p>
              </label>
              <span>
                <input type="checkbox" name="checkbox1" id="checkbox1">
              </span>
            </div>
          </li>
          <li>
            <div class="pack-checkbox">
              <label for="checkbox2">
                <p>Checkbox on</p>
              </label>
              <span>
                <input type="checkbox" name="checkbox2" id="checkbox2" checked>
              </span>
            </div>
          </li>
          <li>
            <div class="pack-checkbox danger">
              <label for="checkbox3">
                <p>Danger checkbox on</p>
              </label>
              <span>
                <input type="checkbox" name="checkbox3" id="checkbox3" checked>
              </span>
            </div>
          </li>
        </ul>

        <header>Radios</header>
        <ul>
          <li>
            <div class="pack-radio">
              <label for="radio1">
                <p>Radio off</p>
              </label>
              <span>
                <input type="radio" name="radio" id="radio1">
              </span>
            </div>
          </li>
          <li>
            <div class="pack-radio">
              <label for="radio2">
                <p>Radio on</p>
              </label>
              <span>
                <input type="radio" name="radio" id="radio2" checked>
              </span>
            </div>
          </li>
          <li>
            <div class="pack-radio danger">
              <label for="radio3">
                <p>Danger radio</p>
              </label>
              <span>
                <input type="radio" name="radio" id="radio3">
              </span>
            </div>
          </li>
        </ul>

        <header>Flex HBox</header>
        <ul class="hbox">
          <li class="noclick start"><p>Start</p></li>
          <li class="noclick center"><p>Center</p></li>
          <li class="noclick end"><p>End</p></li>
        </ul>
        <header>Flex VBox</header>
        <ul class="vbox">
          <li class="noclick start"><p>Start</p></li>
          <li class="noclick center"><p>Center</p></li>
          <li class="noclick end"><p>End</p></li>
        </ul>
      </section>
    </section>
  </main>
</body>
</html>
