section[role="panel"] > header:first-child {
  box-sizing: border-box;
  display: flex;
  z-index: 10;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  width: 100%;
  max-width: var(--safezone-width);
  height: calc(var(--statusbar-height) + 5rem + (3.5rem * (1 - var(--progress, 0))));
  margin: 0 auto;
  padding: var(--statusbar-height) 1rem 0;
  gap: 0.5rem;
  background: var(--background) linear-gradient(0deg, rgba(var(--headerbar-r), var(--headerbar-g), var(--headerbar-b), var(--progress, 0)), rgba(var(--headerbar-r), var(--headerbar-g), var(--headerbar-b), var(--progress, 0)));
}

section[role="panel"] > header:first-child.compact {
  height: calc(var(--statusbar-height) + 5rem);
}

section[role="panel"] > header:first-child .safezone {
  display: flex;
  z-index: 1;
  position: relative;
  width: 100%;
  margin: 0 auto;
  gap: 0.5rem;
}

section[role="panel"] > header:first-child h1 {
  box-sizing: border-box;
  display: inline-block;
  flex-grow: 1;
  width: calc(100% + (var(--back-button-width, 4.5rem) * var(--progress, 0)));
  height: 3.6rem;
  margin: 0.7rem 0;
  padding: 0 1rem;
  overflow: hidden;
  transform: translateY(calc((3.6rem * (1 - var(--progress, 0))) + (15rem * var(--overscroll-progress, 0))));
  color: var(--text-color);
  font-weight: normal;
  font-weight: calc(350 + (250 * (1 - var(--progress, 0))));
  font-size: calc(2rem + (0.4rem * (1 - var(--progress, 0))) + (0.6rem * var(--overscroll-progress, 0)));
  line-height: 3.6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section[role="panel"] > header.compact:first-child h1 {
  height: 3.6rem;
  transform: scale(1);
  font-weight: 300;
  font-size: 2rem;
  line-height: 3.6rem;
}

html[dir="ltr"] section[role="panel"] > header:first-child:not(.compact) a + h1 {
  transform: translate(calc((var(--back-button-width, 4.5rem) * -1) * (1 - var(--progress, 0))), calc(3.6rem * (1 - var(--progress, 0)) + (15rem * var(--overscroll-progress, 0))));
}
html[dir="rtl"] section[role="panel"] > header:first-child:not(.compact) a + h1 {
  transform: translate(calc(var(--back-button-width, 4.5rem) * (1 - var(--progress, 0))), calc(3.6rem * (1 - var(--progress, 0)) + (15rem * var(--overscroll-progress, 0))));
}

section[role="panel"] > header:first-child a {
  box-sizing: border-box;
  display: inline-flex;
  position: relative;
  flex-shrink: 0;
  align-items: center;
  width: max-content;
  min-width: 3.6rem;
  height: 3.6rem;
  margin: 0.7rem 0;
  padding: 0 0.8rem;
  overflow: hidden;
  border-radius: 1rem;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 3.6rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

section[role="panel"] > header:first-child a:hover {
  background-color: var(--item-hover);
  transition: background-color 0.1s ease;
}

section[role="panel"] > header:first-child a:active {
  background-color: var(--item-active);
  color: var(--text-color-faded);
  transition: background-color 0.1s ease;
}

section[role="panel"] > header:first-child a.logo {
  font-weight: bold;
  font-size: 2.4rem;
}

section[role="panel"] > header:first-child a[data-icon]::before {
  width: 2rem;
  height: 3.6rem;
  font-size: 2rem;
}

section[role="panel"] > header:first-child a[data-icon]::before {
  transition: transform 0.3s cubic-bezier(1, 1, 0, 2);
}

section[role="panel"] > header:first-child a[data-icon]:hover::before {
  transition: transform 0.3s cubic-bezier(1, -1, 0, 1);
}

html[dir="ltr"] section[role="panel"] > header:first-child a[data-icon="arrow-back"]:hover::before,
html[dir="ltr"] section[role="panel"] > header:first-child a[data-icon="chevron-back"]:hover::before {
  transform: translateX(-0.3rem);
}
html[dir="rtl"] section[role="panel"] > header:first-child a[data-icon="arrow-back"]:hover::before,
html[dir="rtl"] section[role="panel"] > header:first-child a[data-icon="chevron-back"]:hover::before {
  transform: translateX(0.3rem) scaleX(-1);
}

section[role="panel"] > header:first-child a.back-button {
  display: flex;
  z-index: 1;
  position: relative;
  align-items: center;
  margin-inline-start: 0.5rem;
  padding: 0 calc(0.8rem + (0.5rem * (1 - var(--progress, 0))));
  gap: calc(1rem * (1 - var(--progress, 0)));
  border-radius: calc(1.5rem + (0.3rem * var(--progress, 0)));
  background-color: var(--accent-color);
  color: var(--accent-color-plus);
  font-size: calc(1.5rem * (1 - var(--progress, 0)));
}

section[role="panel"] > header:first-child a.back-button:hover {
  background: var(--accent-color) linear-gradient(0deg, var(--accent-color-hover), var(--accent-color-hover));
}

section[role="panel"] > header:first-child a.back-button:active {
  background: var(--accent-color) linear-gradient(0deg, var(--accent-color-active), var(--accent-color-active));
  color: var(--accent-color-minus);
}

section[role="panel"] > header:first-child nav {
  display: none;
  margin: 0;
  padding: 0;
}

section[role="panel"] > header:first-child nav ul {
  display: inline-flex;
  flex-shrink: 0;
  height: 5rem;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

section[role="panel"] > header:first-child nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

section[role="panel"] > header:first-child nav ul li a,
section[role="panel"] > header:first-child nav ul li a:hover,
section[role="panel"] > header:first-child nav ul li a:active {
  position: relative;
  height: 5rem;
  margin: 0;
  border-radius: 0;
  background-color: transparent;
  line-height: 5rem;
}

section[role="panel"] > header:first-child nav ul li a:hover {
  text-decoration: underline;
}

section[role="panel"] > header:first-child nav ul li a:active {
  opacity: 0.75;
}

section[role="panel"] > header:first-child nav ul li a.selected::after {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: solid 0.3rem var(--accent-color);
  content: '';
}

section[role="panel"] > header:first-child nav[role="tablist"] ul {
  gap: 0;
}

@media screen and (min-width: 768px) {
  section[role="panel"] > header:first-child nav {
    display: block;
  }
}

section[role="panel"] > header:first-child menu[role="toolbar"] {
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: row-reverse;
  height: 5rem;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
  /* transform: translate(0, calc(50% * (1 - var(--progress, 0)))); */
}

section[role="panel"] > header:first-child .bb-search {
  margin: 0.5rem 0;
}

section[role="panel"] > header:first-child .bb-search:first-child {
  margin-inline-start: 0.5rem;
}

section[role="panel"] > header:first-child .bb-search:last-child {
  margin-inline-end: 0.5rem;
}

section[role="panel"] > header:first-child img {
  flex-shrink: 0;
  width: 3.6rem;
  height: 3.6rem;
  margin: 0.7rem 0;
}

section[role="panel"] > header:first-child.auto-hide h1,
section[role="panel"] > header:first-child.auto-hide img {
  -webkit-mask-image: linear-gradient(to bottom, white, white calc(100% * var(--progress)), transparent calc((100% * var(--progress)) + 1.5rem), transparent);
  transform: translateY(calc(3rem * (1 - var(--progress, 0))));
  mask-image: linear-gradient(to bottom, white, white calc(100% * var(--progress)), transparent calc((100% * var(--progress)) + 1.5rem), transparent);
  opacity: var(--progress, 0);
}

section[role="panel"] > header:first-child a.avatar {
  width: 3.6rem;
  padding: 0;
  border-radius: 50%;
  font-size: 0;
}

section[role="panel"] > header:first-child a.avatar img {
  width: 3rem;
  height: 3rem;
  margin: 0.3rem;
  border-radius: 50%;
  background-color: var(--background-plus);
}

section[role="panel"] > header:first-child + progress[value] {
  margin: 0.5rem auto;
}

section[role="panel"] > header:not(:first-child) {
  box-sizing: border-box;
  display: flex;
  z-index: 10;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  max-width: var(--safezone-width);
  height: 3rem;
  margin: -0.7rem auto 0;
  padding: 0 1.5rem;
  background-color: var(--background-item);
}

/* section[role="panel"] > header::before {
  position: absolute;
  top: 100%;
  left: 1.5rem;
  width: 1.5rem;
  height: 3rem;
  border-radius: 1.5rem 0 0 0;
  box-shadow: 0 -1.5rem 0 var(--background);
  content: '';
}

section[role="panel"] > header::after {
  position: absolute;
  top: 100%;
  right: 1.5rem;
  width: 1.5rem;
  height: 3rem;
  border-radius: 0 1.5rem 0 0;
  box-shadow: 0 -1.5rem 0 var(--background);
  content: '';
} */

section[role="panel"] > header:not(:first-child) > h3 {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 3rem;
  margin: 0;
  overflow: hidden;
  color: var(--text-color-faded);
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

section[role="panel"] > header:not(:first-child) > h3 .active {
  color: var(--text-color);
}

@media screen and (min-width: 240px) and (max-width: 320px) and (max-height: 320px) {
  section[role="panel"] > header:first-child {
    height: calc(var(--statusbar-height) + 3.6rem);
  }

  section[role="panel"] > header:first-child::before {
    left: 1rem;
    width: 1rem;
  }

  section[role="panel"] > header:first-child::after {
    right: 1rem;
    width: 1rem;
  }

  section[role="panel"] > header:first-child h1 {
    margin: 0;
    padding: 0;
    transform: none !important;
    font-size: 1.8rem;
  }

  section[role="panel"] > header:first-child a {
    display: none !important;
  }
}
