html, body {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  accent-color: var(--accent-color);
  font-size: 10px;
  font-family: -orchid-standard-font, system-ui;
}

:root {
  --statusbar-height: env(safe-area-inset-top, 0rem);
  --software-buttons-height: 0rem;
  --safezone-width: 75rem;
}

p {
  color: var(--text-color);
  font-size: 1.6rem;
}

ul {
  margin: 0;
  padding: 0;
}

[role="app"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

section[role="panel"] {
  display: flex;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--background);
  opacity: 0;
  transition: transform 1s cubic-bezier(0.2, 0.9, 0.1, 1), opacity 0.3s cubic-bezier(0.2, 0.9, 0.1, 1), visibility 1s ease;
}

html[dir="ltr"] section[role="panel"].previous {
  transform: translateX(-3rem);
}
html[dir="rtl"] section[role="panel"].previous {
  transform: translateX(3rem);
}

html[dir="ltr"] section[role="panel"].next {
  transform: translateX(3rem);
}
html[dir="rtl"] section[role="panel"].next {
  transform: translateX(-3rem);
}

html[dir="ltr"] section[role="panel"].visible,
html[dir="rtl"] section[role="panel"].visible {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
  transition: transform 1s cubic-bezier(0.2, 0.9, 0.1, 1), opacity 0.7s cubic-bezier(0.2, 0.9, 0.1, 1) 0.3s, visibility 1s ease;
}

html[dir="ltr"] section[role="panel"].will-be-visible,
html[dir="rtl"] section[role="panel"].will-be-visible {
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

section[role="panel"] > section {
  box-sizing: border-box;
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding-bottom: var(--software-buttons-height);
  overflow-y: auto;
  scrollbar-width: none;
}

section[role="panel"] > section > .scroll-content {
  width: 100%;
  min-height: 100%;
}

section[role="panel"] > section > *:not(.scroll-content, .scrollbar-track, .bb-emptyscreen),
section[role="panel"] > section > .scroll-content > *:not(.bb-emptyscreen) {
  visibility: hidden;
  transform: translateY(3rem);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.2, 0.9, 0.1, 1) 0.5s, opacity 0.5s cubic-bezier(0.2, 0.9, 0.1, 1) 0.5s, visibility 0.5s ease 0.5s;
}

section[role="panel"].visible > .content > *:not(.scroll-content, .scrollbar-track, .bb-emptyscreen),
section[role="panel"].will-be-visible > .content > *:not(.scroll-content, .scrollbar-track, .bb-emptyscreen),
section[role="panel"].visible > .content > .scroll-content > *:not(.bb-emptyscreen),
section[role="panel"].will-be-visible > .content > .scroll-content > *:not(.bb-emptyscreen) {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.5s cubic-bezier(0.2, 0.9, 0.1, 1) 0.5s, opacity 0.5s cubic-bezier(0.2, 0.9, 0.1, 1) 0.5s, visibility 0.5s ease 0.5s;
}

section[role="panel"] > section .searchbox {
  width: calc(100% - 3rem);
  max-width: calc(var(--safezone-width) - 3rem);
  margin: 0 auto 1rem;
  overflow: hidden;
}

section[role="panel"] > section .searchbox > .bb-search {
  width: 100%;
}

section[role="panel"] > section aside {
  box-sizing: border-box;
  width: calc(100% - 3rem);
  max-width: 71.8rem;
  margin: 0 auto 1.5rem;
  padding: 0;
  border-radius: 1.5rem;
  background-color: var(--background-minus);
}

section[role="panel"] > section aside header {
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  margin: 1rem 0 0;
  padding: 0 2rem;
  color: #858585;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  text-transform: uppercase;
}

section[role="panel"] > section aside ul {
  width: 100%;
  margin: 0;
  padding: 0 0.5rem 0.5rem;
  background-color: transparent;
}

section[role="panel"] > section aside ul li {
  min-height: 3.2rem;
  background-color: transparent;
  list-style: none;
}

section[role="panel"] > section aside ul li > a {
  width: max-content;
  color: var(--accent-color);
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-decoration: none;
  transition: box-shadow 0.2s ease;
}

section[role="panel"] > section aside ul li > a:hover {
  box-shadow: 0 0.2rem 0 var(--accent-color);
}

section[role="panel"] > section aside ul li > a:active {
  opacity: 0.5;
}

section[role="panel"] > section .scrollbar-track {
  margin: 0.5rem;
  overflow: hidden;
  border-radius: 1rem;
  background-color: transparent;
}

section[role="panel"] > section .scrollbar-track-x {
  bottom: var(--software-buttons-height);
  height: 0.5rem;
}

section[role="panel"] > section .scrollbar-track-y {
  top: calc(0.5rem + (5rem * var(--progress, 0)));
  right: 0;
  width: 0.5rem;
  height: calc(100% - 1rem - var(--software-buttons-height) - (5rem * var(--progress, 0)));
}
html[dir="rtl"] section[role="panel"] > section .scrollbar-track-y {
  right: unset;
  left: 0;
}

section[role="panel"] > .headerbar:not(.compact) + .content .scrollbar-track-y {
  top: calc(0.5rem + (5rem * var(--progress, 0)) + (13rem * var(--overscroll-progress)));
  height: calc(100% - 1rem - var(--software-buttons-height) - (5rem * var(--progress, 0)) + (13rem * var(--overscroll-progress)));
}

section[role="panel"] > section .scrollbar-thumb {
  box-sizing: border-box;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1rem;
  background-clip: content-box;
  background-color: var(--text-color-faded);
}

.hbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start {
  align-items: start;
  justify-content: start;
}

.center {
  align-items: center;
  justify-content: center;
}

.end {
  align-items: end;
  justify-content: end;
}

.fit {
  flex-grow: 1;
}

@media screen and (min-width: 240px) and (max-width: 320px) and (max-height: 320px) {
  [role="app"] {
    --statusbar-height: 3rem;
  }

  section[role="panel"] > section .bb-search {
    width: calc(100% - 2rem);
    max-width: calc(var(--safezone-width) - 2rem);
  }
}

@media screen and (min-width: 1536px) {
  section[role="panel"] > section aside {
    position: absolute;
    top: calc(5rem + var(--statusbar-height) + (4rem * (1 - var(--progress, 0))));
    right: 0;
    width: 22rem;
    margin: calc(1.5rem * var(--progress, 0)) 1.5rem 1.5rem;
  }
}
