#app-switcher {
  display: flex;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  width: max-content;
  max-width: calc(100% - 3rem);
  height: max-content;
  max-height: calc(100% - 3rem);
  overflow: hidden;
  transform: scale(0.25);
  translate: -50% -50%;
  border-radius: 2rem;
  background-color: var(--translucent-background-plus);
  box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.5, 0.2, 1, 0), opacity 0.3s ease, visibility 0.5s ease;
}

#screen.gpu-capable #app-switcher {
  backdrop-filter: blur(20px) saturate(180%);
  background-color: var(--acrylic-background-plus);
}

#app-switcher.visible {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
  transition: transform 0.5s cubic-bezier(0.5, 0.8, 0, 1), opacity 0.3s ease 0.2s, visibility 0.5s ease;
}

#app-switcher-list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  overflow: hidden;
}

#app-switcher-list .app {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 20rem;
  max-width: 32rem;
  height: 100%;
  max-height: 24rem;
  padding: 1rem;
  border-radius: 1rem;
  transition: transform 0.3s ease;
}

#app-switcher-list .app.selected {
  background-color: var(--item-active);
}

#app-switcher-list .app:active {
  transform: scale(0.9);
  background-color: var(--item-active);
}

#app-switcher-list .app .titlebar {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 2.4rem;
  margin: 0 0 0.5rem;
  gap: 0.6rem;
  transition: opacity 0.2s ease;
}

#app-switcher-list .app.dragging .titlebar {
  opacity: 0;
}

#app-switcher-list .app .titlebar .icon {
  width: 2.4rem;
  height: 2.4rem;
}

#app-switcher-list .app .titlebar .titles {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 2.4rem;
}

#app-switcher-list .app .titlebar .titles .name {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 1.4rem;
}

#app-switcher-list .app .preview {
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background: rgba(0, 0, 0, 0.25);
  transition: transform 0.3s cubic-bezier(0.5, 0.8, 0, 1.5);
}

#app-switcher-list .app:active .preview {
  transform: scale(0.9);
}
