.appframe .titlebar {
  box-sizing: border-box;
  display: flex;
  z-index: 50;
  position: absolute;
  top: 0;
  align-items: center;
  width: 100%;
  height: var(--titlebar-height);
  padding: 0 1.5rem;
  gap: 1rem;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
html[dir='ltr'] .appframe .titlebar {
  right: 0;
}
html[dir='rtl'] .appframe .titlebar {
  left: 0;
}

.appframe.active .titlebar {
  opacity: 1;
}

.appframe.fullscreen .titlebar {
  transform: translateY(calc((var(--titlebar-height) * -1) + 1rem));
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.appframe.fullscreen .titlebar:hover {
  transform: translateY(0);
  background-color: var(--background);
  opacity: 1;
}

.appframe.browser:not(.fullscreen) .titlebar {
  width: max-content;
  height: var(--chrome-titlebar-height);
}

.appframe .titlebar > .titlebar-grippy {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  cursor: move;
}

.appframe .titlebar > .titlebar-buttons {
  display: flex;
  flex-shrink: 0;
  flex-direction: row-reverse;
  height: 2.5rem;
  gap: 1rem;
}

.appframe .titlebar button {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: var(--item-plus);
  line-height: 2.5rem;
}

.appframe .titlebar button:hover {
  background-color: var(--item-hover-plus);
}

.appframe .titlebar button:active {
  background-color: var(--item-active-plus);
}

.appframe .titlebar button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  content: '';
  opacity: 0.8;
  transition: transform 0.3s cubic-bezier(0.2, 0.9, 0.1, 1);
}

.appframe .titlebar .close-button::before {
  mask: url(images/close.png) no-repeat center / 1.6rem;
}

.appframe .titlebar .resize-button::before {
  mask: url(images/maximize.png) no-repeat center / 1.6rem;
}

.appframe.maximized .titlebar .resize-button::before {
  transform: rotate(360deg);
  mask: url(images/restore.png) no-repeat center / 1.6rem;
}

.appframe .titlebar .minimize-button::before {
  mask: url(images/minimize.png) no-repeat center / 1.6rem;
}

.appframe.light .titlebar button::before {
  background-color: #000;
}

.appframe.dark .titlebar button::before {
  background-color: #fff;
}

@media screen and (prefers-color-scheme: light) {
  .appframe.light .titlebar button::before {
    background-color: #000;
  }
}
