#brightness {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 5rem;
  padding: 0 1.5rem;
  border-radius: 2rem;
  transition: all 0.3s ease;
}

#utility-tray.brightness-changing #brightness {
  background-color: var(--background-plus);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.3);
}

#brightness > span {
  height: 5rem;
  color: var(--text-color);
  line-height: 5rem;
}

#brightness > span[data-icon]::before {
  height: 5rem;
  font-size: 2.4rem;
  line-height: 5rem;
}

#brightness-slider {
  position: relative;
  width: 100%;
  height: 2.4rem;
  margin: 1.3rem 1rem;
  background-color: var(--tray-button-background-plus);
}
