#cards-view {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#cards-view.visible {
  visibility: visible;
  opacity: 1;
}

#cards-view-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  transform: translateY(calc(var(--offset-y, 0) * 0.65)) scale(calc(var(--scale) * 1.5));
  transform-origin: 50vw 50vh;
  scroll-snap-type: x mandatory;
  transition: transform 0.5s ease;
}

#cards-view.visible > #cards-view-list {
  transform: scale(1);
}

#cards-view-list > .scroll-content {
  height: 100%;
}

#cards-view-list .card-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(var(--offset-x, 0px));
  pointer-events: none;
  scroll-snap-align: center;
}

#cards-view-list .card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(var(--card-motion-progress, 0px)) scale(0.65);
  pointer-events: all;
}

#cards-view-list .card.transitioning {
  transition: transform 0.5s cubic-bezier(0.5, 0.8, 0.4, 1.1);
}

#cards-view-list .card .preview {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--screen-radius);
  background: rgba(0, 0, 0, 0.25);
  transition: transform 0.3s cubic-bezier(0.5, 0.8, 0, 1.5), box-shadow 0.3s ease;
}

#cards-view-list .card:active .preview {
  transform: scale(0.95);
}

#cards-view-list .card.dragging .preview {
  transform: scale(1.05);
  box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.1);
}

#cards-view-list .card .titlebar {
  display: flex;
  position: absolute;
  top: -6rem;
  left: 0;
  width: 100%;
  height: 5rem;
  gap: 1rem;
  transition: opacity 0.2s ease;
}

#cards-view-list .card.dragging .titlebar {
  opacity: 0;
}

#cards-view-list .card .titlebar .icon {
  width: 5rem;
  height: 5rem;
}

#cards-view-list .card .titlebar .titles {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 5rem;
}

#cards-view-list .card .titlebar .titles .name {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 2rem;
}

#cards-view-toolbar {
  display: flex;
  z-index: 1;
  position: absolute;
  bottom: calc(var(--software-buttons-height) + 1rem);
  left: 0;
  justify-content: center;
  width: 100%;
  height: 4rem;
  gap: 1rem;
}

.screen.desktop #cards-view-toolbar {
  bottom: calc(var(--dock-height) + 2rem);
}

#cards-view-toolbar > button {
  width: 4rem;
  height: 4rem;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: rgba(51, 51, 51, 0.5);
  color: #fff;
  line-height: 4rem;
}

#cards-view.visible #cards-view-toolbar > button {
  backdrop-filter: blur(20px) saturate(180%);
}

#cards-view-toolbar > button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#cards-view-toolbar > button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

#cards-view-toolbar > button[data-icon]::before {
  position: static;
  width: 2rem;
  height: 4rem;
  font-size: 2rem;
  line-height: 4rem;
}

#cards-view-devices {
  box-sizing: border-box;
  display: flex;
  z-index: 1;
  position: absolute;
  top: calc(var(--statusbar-height) + 1rem);
  left: 50%;
  height: 4rem;
  margin: 0;
  padding: 0.5rem;
  gap: 0.5rem;
  translate: -50% 0;
  border-radius: 2rem;
  background-color: rgba(51, 51, 51, 0.5);
}

#cards-view.visible #cards-view-devices {
  backdrop-filter: blur(20px) saturate(180%);
}

.screen.desktop #cards-view-devices {
  top: 1.5rem;
}

#cards-view-devices .device {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: max-content;
  height: 3rem;
  margin: 0;
  padding: 0 1.5rem;
  gap: 1rem;
  border-radius: 3rem;
  color: #fff;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 3rem;
  list-style: none;
}

#cards-view-devices .device.active {
  background-color: var(--background-plus);
  color: var(--text-color);
}

#cards-view-devices .device > span {
  height: 3rem;
  line-height: 3rem;
}

#cards-view-devices .device > span[data-icon]::before {
  height: 3rem;
  font-size: 2rem;
  line-height: 3rem;
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  #cards-view-list {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    padding: calc(var(--statusbar-height) + 6rem) 1.5rem calc(var(--software-buttons-height) + 6rem);
  }

  .screen.desktop #cards-view-list {
    padding: 6.5rem 1.5rem calc(var(--dock-height) + 8rem);
  }

  #cards-view-list .card-area {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: max-content;
    padding: 4.2rem 1rem 1rem;
    transform: none;
  }

  #cards-view-list .card {
    position: relative;
    width: 100%;
    height: max-content;
    transform: translateY(var(--card-motion-progress, 0px));
    opacity: var(--card-opacity, 1);
  }

  #cards-view-list .card .preview {
    position: relative;
    aspect-ratio: var(--aspect-ratio, 16 / 9);
    height: unset;
    border-radius: 1.5rem;
  }

  #cards-view-list .card .titlebar {
    top: -4.2rem;
    height: 3.6rem;
  }

  #cards-view-list .card .titlebar .titles {
    height: 3.6rem;
  }

  #cards-view-list .card .titlebar .titles .name {
    font-size: 1.4rem;
    line-height: 3.6rem;
  }

  #cards-view-toolbar {
    bottom: calc(var(--dock-height) + 1rem);
  }
}
