:root {
  --statusbar-height: 4rem;
  --statusbar-padding-left: 3rem;
  --statusbar-padding-right: 3rem;
  --software-buttons-height: 4rem;
  --dock-height: 4.4rem;
  --titlebar-height: 4rem;
  --screen-radius: 4rem;

  --chrome-toolbar-gap: 0.5rem;
  --chrome-tablist-height: 3.6rem;
  --chrome-navbar-height: 3.6rem;
  --safezone-width: 32rem;
}
