#devices {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  border-radius: var(--tray-button-radius);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#utility-tray.brightness-changing #devices {
  visibility: hidden;
  opacity: 0;
}

#devices > header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 4.5rem;
  padding: 0 1.5rem;
  padding-inline-end: 1rem;
  gap: 1rem;
  border-radius: 1rem;
  background-color: var(--tray-button-background);
}

#devices > header h1 {
  flex-grow: 1;
  width: 100%;
  height: 4.5rem;
  margin: 0;
  color: var(--tray-button-text-color);
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 4.5rem;
}

#devices > header button {
  width: 4.5rem;
  height: 4.5rem;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: var(--tray-button-text-color);
  line-height: 4.5rem;
}

#devices > header button[data-icon]::before {
  position: static;
  height: 4.5rem;
  font-size: 2rem;
}

#devices-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 0.5rem;
}

#devices-list:not(:empty) {
  margin-top: 0.5rem;
}

.device {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 4.6rem;
  overflow: hidden;
  border-radius: 1rem;
  background-color: var(--tray-button-background);
  list-style: none;
}

.device::after {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  border-radius: 1rem;
  content: '';
  pointer-events: none;
  transition: background-color 0.3s ease;
}

.device:hover::after,
.device:focus::after {
  background-color: var(--item-hover);
  transition: none;
}

.device:active::after {
  background-color: var(--item-active);
  transition: none;
}

.device .text-holder {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
}

.device .text-holder .name {
  color: var(--tray-button-text-color);
  font-weight: normal;
  font-size: 1.6rem;
}

.device .text-holder .type {
  color: var(--tray-button-text-color-faded);
  font-weight: normal;
  font-size: 1.4rem;
}

.device .statusbar {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.6rem;
  padding: 1rem 2rem;
  gap: 1rem;
  border-top: solid 0.1rem var(--separator-color);
  background-color: var(--item-plus);
  transition: all 0.2s ease;
}

.device .statusbar > div {
  width: 2rem;
  height: 2rem;
  color: var(--tray-button-text-color);
}

.device .statusbar > div[data-icon]::before {
  height: 2rem;
  font-size: 2rem;
}
