#dynamic-area {
  --deadzone-width: 3rem;
  --dynamic-area-background: #000;
  --dynamic-area-text-color: #e7e7e7;
  --dynamic-area-text-color-faded: rgba(231, 231, 231, 0.5);
  position: absolute;
  left: 0;
  width: 100%;
  height: 50vh;
  pointer-events: none;
}

.screen.desktop #dynamic-area {
  --dynamic-area-background: var(--background);
  --dynamic-area-text-color: var(--text-color);
  --dynamic-area-text-color-faded: var(--text-color-faded);
}

#dynamic-area.expanded {
  backdrop-filter: blur(4px) saturate(150%);
  background-color: rgba(51, 51, 51, 0.1);
  mask-image: linear-gradient(to bottom, white, white calc(0.5rem + (var(--screen-radius) - 0.5rem) * 2), transparent);
}

.screen.desktop #dynamic-area.expanded {
  mask-image: linear-gradient(to bottom, white, white calc(3.2rem + var(--titlebar-height) + (var(--screen-radius) - 0.5rem) * 2), transparent);
}

#dynamic-area-main {
  visibility: hidden;
  position: absolute;
  top: calc(var(--statusbar-height) / 2 - 3rem / 2);
  left: 50%;
  width: var(--deadzone-width);
  max-width: 48rem;
  height: 3rem;
  overflow: hidden;
  translate: -50%;
  scale: 0;
  border-radius: 3rem;
  background-color: var(--dynamic-area-background);
  opacity: 0;
  pointer-events: auto;
  transition: all 0.5s cubic-bezier(0.5, 0.8, 0, 1), scale 0.3s ease 0.5s, opacity 0.3s ease 0.5s, visibility 1s ease;
}

.screen.desktop #dynamic-area-main {
  top: var(--titlebar-height);
  border-radius: 2rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.2);
}

#dynamic-area.visible #dynamic-area-main {
  visibility: visible;
  width: var(--content-width, max-content);
  scale: 1;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.5, 0.8, 0, 1.1) 0.3s, scale 0.3s ease, opacity 0.3s ease, visibility 0.5s ease;
}

#dynamic-area.expanded #dynamic-area-main {
  position: absolute;
  top: 0.5rem;
  width: calc(100% - 1rem);
  height: calc((var(--screen-radius) - 0.5rem) * 2);
  border-radius: calc(var(--screen-radius) - 0.5rem);
  transition: all 0.5s cubic-bezier(0.5, 0.8, 0, 1.1);
}

.screen.desktop #dynamic-area.expanded #dynamic-area-main {
  top: var(--titlebar-height);
  box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.2);
}

#dynamic-area-small,
#dynamic-area-big {
  display: flex;
  visibility: hidden;
  align-items: center;
  width: 100%;
  overflow: hidden;
  filter: blur(10px);
  opacity: 0;
  transition: filter 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

#dynamic-area-small {
  width: var(--content-width, max-content);
}

#dynamic-area.visible:not(.expanded) #dynamic-area-main > #dynamic-area-small {
  visibility: unset;
  filter: blur(0px);
  opacity: 1;
}

#dynamic-area.expanded #dynamic-area-main > #dynamic-area-big {
  visibility: unset;
  filter: blur(0px);
  opacity: 1;
}

#dynamic-area-small > .icon-holder {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 7rem;
  height: 3rem;
  padding-inline-start: 0.3rem;
  transition: padding-inline-start 0.5s ease;
}

#dynamic-area.visible #dynamic-area-small > .icon-holder {
  padding-inline-start: 1rem;
  transition: padding-inline-start 0.5s ease 0.3s;
}

#dynamic-area-small > .icon-holder > img {
  width: 2.4rem;
  height: 2.4rem;
}

#dynamic-area-small > .icon-holder > canvas {
  width: 3rem;
  height: 2.4rem;
}

#dynamic-area-small > .deadzone {
  width: var(--deadzone-width);
  height: 100%;
}

#dynamic-area-small > .text-holder {
  flex-shrink: 0;
  padding-inline-end: 1rem;
}

#dynamic-area-small > .text-holder > .label {
  color: var(--dynamic-area-text-color);
  font-weight: normal;
  font-size: 1.4rem;
}

#dynamic-area-big {
  position: absolute;
  top: 0;
  left: 0;
  height: 7rem;
}

#dynamic-area-big > .icon-holder {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  margin: 1rem 0;
  margin-inline-start: 1.25rem;
}

#dynamic-area-big > .icon-holder > img {
  position: absolute;
  width: 4.5rem;
  height: 4.5rem;
}

#dynamic-area-big > .icon-holder > canvas {
  position: absolute;
  width: 4.5rem;
  height: 4.5rem;
}

#dynamic-area-big > .text-holder {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 7rem;
  padding-top: 3rem;
  padding-inline-start: 1rem;
}

.screen.desktop #dynamic-area-big > .text-holder {
  padding-top: 0;
}

#dynamic-area-big > .text-holder > .title {
  color: var(--dynamic-area-text-color);
  font-weight: normal;
  font-size: 1.5rem;
}

#dynamic-area-big > .text-holder > .detail {
  color: var(--dynamic-area-text-color-faded);
  font-weight: normal;
  font-size: 1.3rem;
}

#dynamic-area-big > .buttons {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 100%;
  padding-inline-end: 1.5rem;
  gap: 0.75rem;
}

#dynamic-area-big > .buttons > button {
  width: 4rem;
  height: 4rem;
  margin: 0;
  padding: 0 1rem;
}

#dynamic-area-big > .buttons > button[data-icon]::before {
  position: static;
  font-size: 2rem;
}

#dynamic-area-icon {
  visibility: hidden;
  position: absolute;
  top: calc(var(--statusbar-height) / 2 - 3rem / 2);
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  transform: scale(0.75);
  border-radius: 3rem;
  background-color: var(--dynamic-area-background);
  opacity: 0;
  pointer-events: auto;
}
html[dir="ltr"] #dynamic-area-icon {
  right: calc(50% - var(--deadzone-width) / 2 - 7rem);
}
html[dir="rtl"] #dynamic-area-icon {
  left: calc(50% - var(--deadzone-width) / 2 - 7rem);
}
