#keyboards {
  box-sizing: border-box;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(40% + 2.5rem);
  padding-bottom: 1.5rem;
  transform: translateY(100%);
  backdrop-filter: blur(20px) saturate(180%);
  background-color: var(--acrylic-background-plus);
  transition: transform 0.5s cubic-bezier(0.8, 0.1, 0.9, 0), visibility 0.5s ease;
}

.screen:not(.desktop).software-buttons-enabled #keyboards {
  height: calc(40% + var(--software-buttons-height));
  padding-bottom: var(--software-buttons-height);
}

.screen.desktop #keyboards {
  height: calc(40% + var(--software-buttons-height) + 2rem);
  padding-bottom: calc(var(--software-buttons-height) + 2rem);
}

#keyboards.visible {
  visibility: visible;
  transform: translateY(0);
  transition: transform 0.75s cubic-bezier(0.2, 0.9, 0.1, 1), visibility 0.5s ease;
}

.inputframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.inputframe .browser {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 1.5rem);
}

.screen:not(.desktop).software-buttons-enabled .inputframe .browser {
  height: calc(100% - var(--software-buttons-height));
}

.screen.desktop .inputframe .browser {
  height: calc(100% - var(--software-buttons-height) - 1rem);
}
