#lockscreen-pin {
  visibility: hidden;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.25);
  background-color: rgba(51, 51, 51, 0.3);
  opacity: 0;
  transition: all 0.3s ease;
}

#lockscreen.pin-lock-visible #lockscreen-pin {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

#screen.gpu-capable #lockscreen.pin-lock-visible #lockscreen-pin {
  backdrop-filter: blur(20px) saturate(180%);
}

#lockscreen-pin > .container {
  position: absolute;
  bottom: 1.5rem;
  left: calc(50% - 13.5rem);
  width: 27rem;
}

#lockscreen-pin-input {
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  margin: 0;
  padding: 0 1.5rem;
  border: none;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
}

#lockscreen-pin-keypad {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 27rem;
  gap: 0;
}

#lockscreen-pin-keypad button {
  aspect-ratio: 1 / 1;
  width: calc(100% - 3rem);
  height: unset;
  margin: 1.5rem;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  font-size: 2.4rem;
  transition: transform 0.3s ease;
}

#lockscreen-pin-keypad button:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.1);
  transition: transform 0.1s ease;
}

#lockscreen-pin-keypad button:active {
  transform: scale(0.95);
  background-color: rgba(255, 255, 255, 0.2);
  transition: transform 0.1s ease;
}

#lockscreen-pin-keypad button > span {
  pointer-events: none;
}

#lockscreen-pin-keypad button > span[data-icon]::before {
  height: 100%;
  font-size: 2.4rem;
}

#lockscreen-pin-emergency {
  display: flex;
  align-items: center;
  justify-content: center;
}

#lockscreen-pin-emergency > span {
  font-size: 1.3rem;
  line-height: 1.8rem;
  white-space: normal;
}
