.media-playback {
  position: relative;
  flex-grow: 1;
  width: 100%;
  min-height: 6.5rem;
  background-color: var(--tray-button-background);
}

.media-playback.expanded {
  height: 36rem;
}

#utility-tray.brightness-changing .media-playback {
  opacity: 0;
}

.media-playback .content {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: var(--tray-button-text-color);
}

.media-playback.expanded .content {
  padding: 0 2rem 1rem;
}

#media-playback-info {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.media-playback .artwork {
  width: 4.5rem;
  height: 4.5rem;
  margin: 0.5rem;
  border-radius: 1rem;
  background-color: var(--tray-button-background-plus);
}

.media-playback.expanded .artwork {
  display: block;
  width: 20rem;
  height: 20rem;
  margin: 0 auto 1.5rem;
  border-radius: 1.5rem;
}

.media-playback .title {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.5rem;
  overflow: hidden;
  color: var(--tray-button-text-color);
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.media-playback.expanded .title {
  margin: 0;
  padding: 0;
  font-size: 2.4rem;
  line-height: 3rem;
}

.media-playback .artist {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.5rem;
  overflow: hidden;
  color: var(--tray-button-text-color);
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.5;
}

.media-playback.expanded .artist {
  margin: 0 0 1rem;
  padding: 0;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

#media-playback-inactive {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#media-playback-inactive > .inactive-message {
  width: 100%;
  color: var(--tray-button-text-color-faded);
  font-size: 1.4rem;
  text-align: center;
}

#media-playback-info.hidden,
#media-playback-inactive.hidden {
  display: none;
}

.media-playback .content .buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 3.2rem;
  gap: 0.8rem;
  direction: ltr;
}

.media-playback .content .buttons button {
  flex-grow: 0;
  flex-shrink: 0;
  width: 3.2rem;
  height: 3.2rem;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--tray-button-text-color);
  /* line-height: 3.2rem; */
  text-align: center;
  transition: all 0.3s ease;
}

.media-playback.expanded .content .buttons button {
  width: 4.4rem;
  height: 4.4rem;
}

.media-playback .content .buttons button:hover {
  transform: scale(1.1);
}

.media-playback .content .buttons button:active {
  transform: scale(0.9);
}

.media-playback .content .buttons button[data-icon]::before {
  position: static;
  height: 3.2rem;
  font-size: 2rem;
  line-height: 3.2rem;
}

.media-playback.expanded .content .buttons button[data-icon]::before {
  width: 100%;
  height: 4.4rem;
  font-size: 3rem;
  line-height: 4.4rem;
}

.media-playback .content .buttons button.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.6rem 0;
}

.media-playback.expanded .content .buttons button.icon {
  margin: 0.7rem 0;
}

/* Icon animations: Skip Back */
.media-playback .previous-button > svg .primary {
  transform-origin: right;
  animation: skipback-primary 0.75s cubic-bezier(0.5, 0.8, 0, 1);
}

@keyframes skipback-primary {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(-7px);
    opacity: 0.5;
  }
}

.media-playback .previous-button > svg .secondary {
  transform-origin: left;
  animation: skipback-secondary 0.75s cubic-bezier(0.5, 0.8, 0, 1);
}

@keyframes skipback-secondary {
  from {
    fill-opacity: 0.5;
    transform: scale(1);
  }
  to {
    fill-opacity: 0;
    transform: scale(0.2);
  }
}

.media-playback .previous-button > svg .trietary {
  transform-origin: right;
  animation: skipback-trietary 0.75s cubic-bezier(0.5, 0.8, 0, 1);
}

@keyframes skipback-trietary {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.media-playback .previous-button:active > svg .primary,
.media-playback .previous-button:active > svg .secondary,
.media-playback .previous-button:active > svg .trietary {
  animation: none;
}

/* Icon animations: Skip Forward */
.media-playback .next-button > svg .primary {
  transform-origin: left;
  animation: skipforward-primary 0.75s cubic-bezier(0.5, 0.8, 0, 1);
}

@keyframes skipforward-primary {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(7px);
    opacity: 0.5;
  }
}

.media-playback .next-button > svg .secondary {
  transform-origin: right;
  animation: skipforward-secondary 0.75s cubic-bezier(0.5, 0.8, 0, 1);
}

@keyframes skipforward-secondary {
  from {
    fill-opacity: 0.5;
    transform: scale(1);
  }
  to {
    fill-opacity: 0;
    transform: scale(0.2);
  }
}

.media-playback .next-button > svg .trietary {
  transform-origin: left;
  animation: skipforward-trietary 0.75s cubic-bezier(0.5, 0.8, 0, 1);
}

@keyframes skipforward-trietary {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.media-playback .next-button:active > svg .primary,
.media-playback .next-button:active > svg .secondary,
.media-playback .next-button:active > svg .trietary {
  animation: none;
}
