#notification-toaster {
  position: absolute;
  top: var(--statusbar-height);
  width: calc(100% - 2rem);
  margin: 0 1rem;
  transform: translateY(calc(-100% - var(--statusbar-height) - 4.5rem));
  background-color: var(--notification-background);
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.8, 0.1, 0.9, 0);
}
html[dir="ltr"] #notification-toaster {
  right: 0;
}
html[dir="rtl"] #notification-toaster {
  left: 0;
}

#notification-toaster.visible {
  transform: translateY(0);
  transition: all 0.5s cubic-bezier(0.2, 0.9, 0.1, 1.1);
}

#screen.gpu-capable #notification-toaster.visible {
  backdrop-filter: blur(20px) saturate(180%);
  background-color: var(--acrylic-background-plus);
}

#notifications-container {
  position: absolute;
  top: calc(5rem + (6rem * var(--overflow-progress)));
  left: 1.5rem;
  width: calc(100% - 3rem);
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  border-radius: 2.5rem;
}

#screen.software-buttons-enabled #notifications-container {
  height: calc(100% - var(--software-buttons-height) - (5rem + (6rem * var(--overflow-progress))));
}

#utility-tray-motion.transitioning #notifications-container {
  transition: all 0.5s cubic-bezier(0, 0, 0, 1.1);
}

#notifications-container::-webkit-scrollbar {
  display: none;
}

#screen.software-buttons-enabled #notifications-container {
  height: calc(100% - (5rem + (6rem * var(--overflow-progress))) - var(--software-buttons-height));
}

#notifications-container .notification {
  width: 100%;
  margin: 0 0 1rem;
  list-style: none;
  transition: all 0.5s ease;
}

#notifications-container .notification.transitioning {
  transition: all 0.5s ease;
}

#utility-tray-motion:not(.visible) #notifications-container .notification,
#utility-tray-motion.fade-out #notifications-container .notification {
  transform: scale(0.75);
  opacity: 0;
}

#notifications-container .notification:last-child {
  margin: 0;
}

.notification {
  --notification-background: rgba(255, 255, 255, 0.6);
  --notification-text-color: #333;
  width: 100%;
  margin: 0 0 1rem;
  border-radius: 2.5rem;
  background-color: var(--notification-background);
}

@media screen and (prefers-color-scheme: dark) {
  .notification {
    --notification-background: rgba(0, 0, 0, 0.5);
    --notification-text-color: #fff;
  }
}

.notification .titlebar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem 0;
}

.notification .titlebar .badge {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  margin-inline-end: 1rem;
}

.notification .titlebar .source-name {
  flex-grow: 1;
  width: 100%;
  height: 2rem;
  margin-inline-end: 1rem;
  overflow: hidden;
  color: var(--notification-text-color);
  font-size: 1.4rem;
  line-height: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification .content {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;
}

.notification .content .icon {
  flex-shrink: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-inline-end: 1rem;
}

.notification .content .text-holder {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  color: var(--notification-text-color);
}

.notification .content .text-holder .title {
  width: 100%;
  overflow: hidden;
  color: var(--notification-text-color);
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification .content .text-holder .detail {
  width: 100%;
  overflow: hidden;
  color: var(--notification-text-color);
  font-size: 1.4rem;
  line-height: 2rem;
  text-overflow: ellipsis;
  opacity: 0.5;
}

.notification .content .text-holder .progress {
  position: relative;
  width: 100%;
  height: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  background: #858585;
}

.notification .content .text-holder .progress::before {
  position: absolute;
  width: calc(100% * var(--progress));
  height: 0.5rem;
  border-radius: 0.5rem;
  background: var(--accent-color);
  content: '';
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

.notification .media {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(auto-fit, 1fr);
  aspect-ratio: 16 / 9;
  width: 100%;
  padding: 0 1.5rem 1rem;
}

.notification .media:empty {
  display: none;
}

.notification .media > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notification .actions {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem 1rem;
  gap: 0.5rem;
}

.notification .actions button {
  box-sizing: border-box;
  width: max-content;
  height: 3rem;
  margin: 0;
  padding: 0 1.5rem;
  border: none;
  border-radius: 1.5rem;
  background-color: transparent;
  color: var(--notification-text-color);
  font-size: 1.6rem;
  line-height: 3rem;
}

.notification .actions button:hover {
  background-color: var(--item-hover);
}

.notification .actions button:active {
  background-color: var(--item-active);
}

.notification .actions button.recommend {
  background-color: var(--accent-color);
  color: var(--accent-color-plus);
}
