#power-screen {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  background-color: rgba(51, 51, 51, 0.8);
  opacity: 0;
  transition: all 0.3s ease;
}

#power-screen.visible {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

#screen.gpu-capable #power-screen.visible {
  backdrop-filter: blur(20px) saturate(180%);
  background-color: rgba(51, 51, 51, 0.5);
}

#power-screen .buttons {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  gap: 1rem;
  translate: -50% -50%;
}

#power-screen .buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7rem;
  height: 7rem;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  color: #fff;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.5rem;
  text-align: center;
}

#power-screen .buttons button > span[data-icon] {
  width: 5rem;
  height: 5rem;
  margin: 0 1rem 0.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 5rem;
  text-align: center;
}

#power-screen .buttons button:hover > span[data-icon] {
  background-color: rgba(255, 255, 255, 0.2);
}

#power-screen .buttons button:active > span[data-icon] {
  background-color: rgba(255, 255, 255, 0.3);
}

#power-screen .buttons button > span[data-icon]::before {
  height: 5rem;
  font-size: 2.4rem;
  line-height: 5rem;
}

#power-screen .toolbar {
  box-sizing: border-box;
  position: absolute;
  bottom: 10rem;
  left: 0;
  width: 100%;
  height: 7rem;
  padding: 1.5rem;
}

#power-screen .toolbar button {
  box-sizing: border-box;
  display: block;
  width: max-content;
  margin: 0 auto;
  padding: 0 3rem;
}

#power-screen .notice {
  box-sizing: border-box;
  position: absolute;
  bottom: 4rem;
  left: 0;
  width: 100%;
  padding: 0 1.5rem;
  text-align: center;
}

#power-screen .notice div {
  width: 100%;
  color: #fff;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.2rem;
  opacity: 0.5;
}
