.quick-settings-rows {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1rem;
  gap: calc(1rem + (1rem * var(--overscroll-progress, 0))) 1rem;
  transition: gap 0.3s ease;
}

.quick-settings-rows .row {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(6.5rem, 1fr));
  flex-shrink: 0;
  width: 100%;
  padding: 0 1.5rem;
  gap: calc(1rem + (1rem * var(--overscroll-progress, 0))) 1rem;
  transition: gap 0.3s ease;
}

.quick-settings-rows .row.double-height {
  grid-template-rows: repeat(2, 1fr);
}

.quick-settings-rows .row > a {
  display: inline-flex;
  position: relative;
  align-items: center;
  aspect-ratio: 1 / 1;
  width: 100%;
  overflow: hidden;
  background-color: var(--tray-button-background);
  color: var(--tray-button-text-color);
  text-decoration: none;
  mask: url(utility_tray/images/tray_button_mask.png) no-repeat center / contain;
  transition: transform 0.3s ease, background-color 0.5s ease;
}

.quick-settings-rows .row > a:active {
  transform: scale(0.9);
  transition: transform 0.1s ease, background-color 0.5s ease;
}

.quick-settings-rows .row > a.enabled {
  background-color: var(--tray-button-active);
  color: var(--tray-button-background);
}

.quick-settings-rows .row > a.icon > svg,
.quick-settings-rows .row > a > span[data-icon] {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3rem;
  height: 3rem;
  translate: -50% -50%;
  font-size: 3rem;
}

.quick-settings-rows .row > a.double-width {
  box-sizing: border-box;
  padding-inline-start: 6.5rem;
}

.quick-settings-rows .row > a.double-width.icon > svg,
.quick-settings-rows .row > a.double-width > span[data-icon] {
  display: inline-flex;
  position: absolute;
  top: 50%;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  translate: 0 -50%;
  border-radius: 50%;
  background-color: var(--tray-button-background-plus);
  font-size: 2.4rem;
}
html[dir="ltr"] .quick-settings-rows .row > a.double-width.icon > svg,
html[dir="ltr"] .quick-settings-rows .row > a.double-width > span[data-icon] {
  left: 1rem;
}
html[dir="rtl"] .quick-settings-rows .row > a.double-width.icon > svg,
html[dir="rtl"] .quick-settings-rows .row > a.double-width > span[data-icon] {
  right: 1rem;
}

.quick-settings-rows .row > a.double-width.icon > .label,
.quick-settings-rows .row > a.double-width > .label {
  width: 100%;
  font-weight: normal;
  font-size: 1.4rem;
}

.quick-settings-rows .row > .backlight {
  display: none;
}

.quick-settings-rows .row > .double-width {
  grid-column: span 2;
  aspect-ratio: 2.1 / 1;
  mask: url(utility_tray/images/tray_button_wide_mask.png) no-repeat center / contain;
}

.quick-settings-rows .row > .double-height {
  grid-row: span 2;
  aspect-ratio: 1 / 2.1;
  mask: url(utility_tray/images/tray_button_tall_mask.png) no-repeat center / contain;
}

.quick-settings-rows .row > .double-size {
  grid-row: span 2;
  grid-column: span 2;
  aspect-ratio: 2.1 / 2.1;
  mask: url(utility_tray/images/tray_button_big_mask.png) no-repeat center / contain;
}

.quick-settings-rows .row > .slider-columns {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-row: span 2;
  grid-column: span 2;
  aspect-ratio: 2.1 / 2.1;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.quick-settings-rows .row > .slider-columns > .column {
  position: relative;
  grid-row: span 2;
  aspect-ratio: 1 / 2.1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  mask: url(utility_tray/images/tray_button_tall_mask.png) no-repeat center / contain;
  writing-mode: vertical-lr;
}

.quick-settings-rows .row > .slider-columns > .column input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: transparent;
}

.quick-settings-rows .row > .slider-columns > .column input::-webkit-slider-thumb {
  width: 100%;
  height: 0;
  border: none;
  background-color: transparent;
  box-shadow: 0 -50rem 0 50rem var(--tray-button-background), 0 50rem 0 50rem var(--tray-button-active);
}

.quick-settings-rows .row > .slider-columns > .column span[data-icon] {
  position: absolute;
  bottom: 3.25rem;
  left: 50%;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0;
  translate: -50% 50%;
  background-color: transparent;
  color: var(--tray-button-background);
  font-size: 2.4rem;
}

.quick-settings-rows .row > a,
.quick-settings-rows .row > .media-playback,
.quick-settings-rows .row > .slider-columns .column {
  visibility: hidden;
  transform: scale(0.75);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
}

#utility-tray-motion.buttons-visible .quick-settings-rows .row > a,
#utility-tray-motion.buttons-visible .quick-settings-rows .row > .media-playback,
#utility-tray-motion.buttons-visible .quick-settings-rows .row > .slider-columns .column {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.quick-settings-rows:nth-child(2) .row > a,
.quick-settings-rows:nth-child(2) .row > .media-playback,
.quick-settings-rows:nth-child(2) .row > .slider-columns .column {
  transition-delay: 0.1s;
}

.quick-settings-rows:nth-child(3) .row > a,
.quick-settings-rows:nth-child(3) .row > .media-playback,
.quick-settings-rows:nth-child(3) .row > .slider-columns .column {
  transition-delay: 0.2s;
}

.quick-settings-rows:nth-child(4) .row > a,
.quick-settings-rows:nth-child(4) .row > .media-playback,
.quick-settings-rows:nth-child(4) .row > .slider-columns .column {
  transition-delay: 0.3s;
}

.quick-settings-rows:nth-child(5) .row > a,
.quick-settings-rows:nth-child(5) .row > .media-playback,
.quick-settings-rows:nth-child(5) .row > .slider-columns .column {
  transition-delay: 0.4s;
}

#utility-tray.brightness-changing .quick-settings-rows .row > a,
#utility-tray.brightness-changing .quick-settings-rows .row > .media-playback,
#utility-tray.brightness-changing .quick-settings-rows .row > .slider-columns .column #audio {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Icon animations: Airplane Mode */
#quick-settings-airplane.enabled > svg .plane {
  animation: qs-airplane-plane 0.5s ease;
}

@keyframes qs-airplane-plane {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(16px);
  }
  50.001% {
    transform: translateX(-16px);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .quick-settings-rows .row > .backlight {
    display: block;
  }

  .quick-settings-rows .row > .double-size {
    grid-row: span 2;
    grid-column: span 3;
    aspect-ratio: 3.2 / 2.1;
    mask: url(utility_tray/images/tray_button_large_mask.png) no-repeat center / contain;
  }
}

/* Icon animations: Audio */
#quick-settings-audio > svg {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

#quick-settings-audio.ringing > svg.ringing,
#quick-settings-audio.vibrate > svg.vibrate,
#quick-settings-audio.muted > svg.muted {
  visibility: unset;
  opacity: 1;
}

#quick-settings-audio.ringing > svg.ringing .bell {
  transform-origin: top center;
  animation: qs-audio-ringing-bell 0.75s ease;
}

@keyframes qs-audio-ringing-bell {
  0%, 100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-7.5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-2.5deg);
  }
}

#quick-settings-audio.ringing > svg.ringing .bell-part {
  transform-origin: top center;
  animation: qs-audio-ringing-bell-part 1s ease;
}

@keyframes qs-audio-ringing-bell-part {
  0%, 100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(7.5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(2.5deg);
  }
}

#quick-settings-audio.vibrate > svg.vibrate .vibrations {
  transform-origin: center;
  animation: qs-audio-vibrate-vibrations 0.5s ease;
}

@keyframes qs-audio-vibrate-vibrations {
  0%, 100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(7.5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(2.5deg);
  }
}

#quick-settings-audio.vibrate > svg.vibrate .phone {
  transform-origin: center;
  animation: qs-audio-vibrate-phone 0.75s ease;
}

@keyframes qs-audio-vibrate-phone {
  0%, 100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-7.5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-2.5deg);
  }
}

#quick-settings-audio.muted > svg.muted .slash {
  stroke-dashoffset: 0;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  animation: qs-audio-muted-slash 1s cubic-bezier(0.5, 0.8, 0, 1);
}

@keyframes qs-audio-muted-slash {
  0% {
    stroke-dasharray: 0,200;
  }
  100% {
    stroke-dasharray: 47,200;
  }
}

#quick-settings-audio.muted > svg.muted .bell {
  animation: qs-audio-muted-bell 1s ease;
}

@keyframes qs-audio-muted-bell {
  0% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 0.5;
  }
}
