#software-buttons {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  width: 100%;
  height: var(--software-buttons-height);
  transition: all 0.3s ease;
}
html[dir="ltr"] #software-buttons {
  left: 0;
}
html[dir="rtl"] #software-buttons {
  right: 0;
}

#software-buttons.hidden,
.screen:not(.software-buttons-enabled) #software-buttons {
  transform: translateY(100%);
}

#software-buttons .mobile,
#software-buttons .desktop {
  display: flex;
}

.screen.desktop #software-buttons .mobile,
.screen:not(.desktop) #software-buttons .desktop {
  display: none;
}

/* Mobile */
#software-buttons .mobile > button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 100%;
  margin: 0;
  border: none;
  background-color: transparent;
}

#software-buttons .mobile > button::before {
  width: 2rem;
  height: 2rem;
  background: transparent no-repeat center / 1.75rem;
  content: '';
  transition: all 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
}

#software-buttons .mobile > button::after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  transform: translateX(-50%);
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease, width 0.1s ease 0.3s;
}

#software-buttons .mobile > button:active:after {
  width: calc(100% + 1rem);
  opacity: 1;
  transition: all 0.3s ease, opacity 0.1s ease;
}

.screen:not(.keyboard-visible) #software-buttons.light .mobile > button {
  filter: invert(1) hue-rotate(180deg);
}

#software-buttons #software-back-button::before {
  background-image: url(images/back.svg);
}
html[dir="rtl"] #software-buttons #software-back-button::before {
  transform: rotate(-180deg);
}

.screen.keyboard-visible #software-buttons #software-back-button::before {
  transform: rotate(-90deg);
}

#software-buttons #software-home-button::before {
  background-image: url(images/home.svg);
}

#software-buttons #software-recents-button::before {
  background-image: url(images/recents.svg);
}

/* Desktop */
#software-buttons .desktop {
  display: flex;
  height: var(--dock-height);
}

#software-buttons .desktop button {
  position: relative;
  width: calc(var(--dock-height) - 1rem);
  height: calc(var(--dock-height) - 1rem);
  margin: 0.5rem;
  border: none;
  border-radius: 25%;
  background: no-repeat center / cover;
  transition: all 0.3s ease;
}

#software-buttons .desktop button:active {
  filter: brightness(0.75);
  transition: filter 0.1s ease;
}

#software-buttons .desktop button.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

#software-buttons .desktop button {
  position: relative;
  width: calc(var(--dock-height) - 1rem);
  height: calc(var(--dock-height) - 1rem);
  margin: 0.5rem;
  padding: 0;
  border: none;
  border-radius: 25%;
  background: no-repeat center / cover;
  transition: all 0.3s cubic-bezier(0.2, 0.9, 0, 1.1);
}

#software-buttons .desktop #software-launcher-button {
  background-image: url(images/launcher.svg);
}

#software-buttons .desktop #software-search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-image: url(images/search.svg);
  font-size: 0;
}

#software-buttons .desktop #software-search-button > span[data-icon] {
  height: calc(var(--dock-height) - 1rem);
}

#software-buttons .desktop #software-search-button > span[data-icon]::before {
  height: calc(var(--dock-height) - 1rem);
  font-size: 0;
  line-height: calc(var(--dock-height) - 1rem);
  transition: all 0.3s cubic-bezier(0.2, 0.9, 0, 1.1);
}

#software-buttons .desktop #software-search-button.wide > span[data-icon]::before {
  font-size: 2rem;
}

#software-buttons .desktop #software-search-button.wide {
  width: 15rem;
  border-radius: calc((var(--dock-height) - 1rem) / 2);
  background: var(--background);
  font-size: 1.6rem;
}

#software-buttons .desktop #software-search-button.wide:hover {
  background: var(--item-hover);
  transition: background-color 0.1s ease;
}

#software-buttons .desktop #software-search-button.wide:active {
  background: var(--item-active);
  transition: background-color 0.1s ease;
}

#software-buttons .desktop #software-cards-view-button {
  background-image: url(images/cards_view.svg);
}

#software-buttons .desktop #software-dashboard-button {
  background-image: url(images/dashboard.svg);
}

/* Dock */
#dock {
  display: flex;
  height: var(--software-buttons-height);
}

.screen.desktop #dock {
  height: var(--dock-height);
}

#dock:empty {
  display: none;
}

#dock .icon {
  position: relative;
  width: calc(var(--software-buttons-height) - 1rem);
  height: calc(var(--software-buttons-height) - 1rem);
  margin: 0.5rem;
  border-radius: 30%;
  transition: all 0.3s ease;
}

#dock .icon:active {
  filter: brightness(0.75);
  transition: filter 0.1s ease;
}

#dock .icon.expand {
  border-radius: var(--screen-radius);
  animation: dock-expand 0.3s ease forwards;
}

@keyframes dock-expand {
  from {
    margin: 0 calc(-(var(--software-buttons-height) - 1rem) / 2);
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    margin: 0;
    transform: scale(1);
    opacity: 1;
  }
}

#dock .icon.shrink {
  border-radius: var(--screen-radius);
  animation: dock-shrink 0.3s ease forwards;
}

@keyframes dock-shrink {
  from {
    margin: 0;
    transform: scale(1);
    opacity: 1;
  }
  to {
    margin: 0 calc(-(var(--software-buttons-height) - 1rem) / 2);
    transform: scale(0.75);
    opacity: 0;
  }
}

.screen.desktop #dock .icon {
  width: calc(var(--dock-height) - 1rem);
  height: calc(var(--dock-height) - 1rem);
}

#dock .icon.running::before {
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  width: 0.25rem;
  height: 0.25rem;
  translate: -50% 0;
  border-radius: 0.25rem;
  background-color: var(--text-color-faded);
  content: '';
  transition: width 0.3s ease;
}

#dock .icon.running.active::before {
  width: 1.5rem;
  background-color: var(--accent-color);
}

#dock .icon > img {
  width: 100%;
  height: 100%;
}

#software-buttons-actions {
  display: none;
  position: absolute;
  top: 0;
  height: var(--dock-height);
  margin: 0.6rem;
  gap: 0.3rem;
}
html[dir="ltr"] #software-buttons-actions {
  left: 0;
}
html[dir="rtl"] #software-buttons-actions {
  right: 0;
}

.screen.desktop #software-buttons-actions {
  display: flex;
}

#software-buttons-actions > button {
  flex-shrink: 0;
  width: max-content;
  height: 3.6rem;
  padding: 0 2rem;
  line-height: 3.6rem;
}

#software-buttons-actions > button:first-child {
  border-radius: 2rem 1rem 1rem 2rem;
}

#software-buttons-actions > button:last-child {
  border-radius: 1rem 2rem 2rem 1rem;
}

#software-buttons-actions > button:first-child:last-child {
  border-radius: 2rem;
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  #software-buttons {
    flex-direction: column;
    width: var(--software-buttons-height);
    height: 100%;
  }

  #software-buttons .mobile {
    flex-direction: column;
  }

  #software-buttons .mobile > button {
    width: 100%;
    height: 8rem;
    padding: 1rem 0;
  }

  #software-buttons .mobile > button::after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    transform: translateY(-50%);
    transition: all 0.3s cubic-bezier(0.2, 0.9, 0.1, 1), height 0.1s ease 0.3s;
  }

  #software-buttons .mobile > button:active:after {
    width: 100%;
    height: calc(100% + 1rem);
  }
}

@media screen and (max-width: 767px) {
  #dock {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .screen.keyboard-visible #software-buttons .mobile > button {
    filter: invert(1) hue-rotate(180deg);
  }
}

@media (prefers-color-scheme: dark) {
  .screen.keyboard-visible #software-buttons .mobile > button {
    filter: none;
  }
}

/* Icon Animations */
#software-cards-view-button > svg .icon1 {
  animation: cards-view-button-icon1 0.5s cubic-bezier(0.5, 0.8, 0, 1.5);
}

@keyframes cards-view-button-icon1 {
  0%, 100% {
    x: 28;
    y: 16;
  }
  50% {
    x: 20;
    y: 20;
  }
}

#software-cards-view-button > svg .icon2 {
  animation: cards-view-button-icon2 0.5s cubic-bezier(0.5, 0.8, 0, 1.5);
}

@keyframes cards-view-button-icon2 {
  0%, 100% {
    x: 12;
    y: 24;
  }
  50% {
    x: 20;
    y: 20;
  }
}

#software-cards-view-button:active > svg .icon1,
#software-cards-view-button:active > svg .icon2 {
  animation: none;
}
