@font-face {
  src: url(/fonts/ReadexPro-VariableFont_HEXP.ttf);
  font-family: 'Orchid Brand';
}

#splashscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#splashscreen.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease 1s;
}

#splashscreen-video {
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  translate: -50% -50%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#splashscreen.logo #splashscreen-video {
  opacity: 1;
}

#splashscreen .safety-warning {
  display: flex;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  width: calc(100% - 5rem);
  max-width: 40rem;
  gap: 1rem;
  transform: scale(0.5);
  translate: -50% -50%;
  opacity: 0;
  transition: all 0.5s ease, opacity 0.5s ease;
}

#splashscreen.safety-warning .safety-warning {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

#splashscreen .safety-warning span[data-icon] {
  color: #fff;
}

#splashscreen .safety-warning span[data-icon]::before {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  line-height: 3rem;
}

#splashscreen .safety-warning p {
  margin: 0;
  color: #fff;
  font-weight: normal;
  font-size: 1.6rem;
}

#splashscreen .os-logo {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 12rem;
  height: 12rem;
  translate: -50% -50%;
  background: url(http://shared.localhost:8081/resources/branding/official/oslogo.svg) no-repeat center / contain;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#splashscreen.logo .os-logo {
  opacity: 1;
}
