html, body {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  background-color: #000;
  font-size: 10px;
  touch-action: none;
  user-select: none;
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform-origin: top left;
  background-color: #000;
  transition: opacity 0.3s ease, filter 0.3s ease, visibility 0.3s ease;
}

.screen.hidden {
  display: none;
}

.screen.poweroff {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.screen.poweroff > * {
  pointer-events: none !important;
}

.screen::before {
  visibility: hidden;
  z-index: 999999999999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  transform: translateY(-100%);
  background: rgba(51, 51, 51, 0.5) url(images/close_reach_chevron.svg) no-repeat center bottom 1rem / 6rem 3.2rem;
  content: '';
  transition: transform 0.5s cubic-bezier(0.5, 0.8, 0, 1.1), visibility 0.5s ease;
}

.screen.close-reach::before {
  visibility: visible;
  transform: translateY(0);
  backdrop-filter: blur(20px) saturate(150%);
}

.screen.close-reach:active::before {
  background-image: url(images/close_reach_chevron_active.svg);
  background-color: rgba(255, 255, 255, 0.5);
}

/* Screen filters */
.screen::after {
  visibility: hidden;
  z-index: 999999999999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.1);
  content: '';
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.screen.warm-colors::after {
  visibility: visible;
  opacity: 1;
}

.screen.reader-mode {
  filter: grayscale(1);
}

#system-overlays {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#system-overlays > #picture-in-picture,
#system-overlays > #power-screen,
#system-overlays > #volume-rocker,
#system-overlays > #dynamic-island,
#system-overlays > #text-selection {
  pointer-events: all;
}

.screen.smart-tv {
  --statusbar-height: 0rem;
  --software-buttons-height: 0rem;
}

.screen.smart-tv #statusbar,
.screen.smart-tv #software-buttons {
  display: none;
}

#inactivity-screen {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease 0.5s;
}

#inactivity-screen.visible {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease;
}

#inactivity-screen .message {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 1.5rem;
  transform: scale(0.9);
  translate: -50% -50%;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.6rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease;
}

#inactivity-screen.visible .message {
  transform: scale(1);
  opacity: 1;
  transition: all 0.5s ease 0.5s;
}

