#title-tooltip {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: scale(0.9);
  border-radius: 1rem;
  background-color: var(--translucent-background-plus);
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: width 0.3s ease, height 0.3s ease, transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

#title-tooltip.visible {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.screen.gpu-capable #title-tooltip.visible {
  backdrop-filter: blur(20px) saturate(180%);
  background-color: var(--acrylic-background-plus);
}

#title-tooltip-label,
#title-tooltip-label-previous {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  font-weight: normal;
  font-size: 1.6rem;
}

#title-tooltip-label-previous {
  opacity: 0;
}

#title-tooltip-label-previous.blur-out {
  animation: tooltip-previous 0.3s ease;
}

@keyframes tooltip-previous {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(var(--scale-x), var(--scale-y));
    opacity: 0;
  }
}

#title-tooltip-label.blur-in {
  animation: tooltip-next 0.3s ease;
}

@keyframes tooltip-next {
  from {
    transform: scale(var(--scale-x), var(--scale-y));
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
