#title-tooltip {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 2rem;
  background-color: #454545;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#title-tooltip.visible {
  visibility: visible;
  opacity: 1;
}

#title-tooltip-label,
#title-tooltip-label-previous {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  padding: 0.5rem 1rem;
  color: #e7e7e7;
  font-weight: normal;
  font-size: 1.6rem;
}

#title-tooltip-label-previous {
  opacity: 0;
}

#title-tooltip-label-previous.blur-out {
  animation: tooltip-previous 0.3s ease;
}

@keyframes tooltip-previous {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(var(--scale-x), var(--scale-y));
    opacity: 0;
  }
}

#title-tooltip-label.blur-in {
  animation: tooltip-next 0.3s ease;
}

@keyframes tooltip-next {
  from {
    transform: scale(var(--scale-x), var(--scale-y));
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
