#utility-tray {
  --tray-button-background: var(--acrylic-background-plus);
  --tray-button-background-plus: rgba(0, 0, 0, 0.05);
  --tray-button-text-color: var(--text-color);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: transform 0.5s ease;
}

@media screen and (prefers-color-scheme: dark) {
  #utility-tray {
    --tray-button-background: rgba(0, 0, 0, 0.4);
    --tray-button-background-plus: rgba(255, 255, 255, 0.1);
  }
}

#screen.close-reach #utility-tray {
  height: 60%;
  transform: translateY(40vh);
}

#utility-tray-motion {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  background-color: rgba(51, 51, 51, 0.8);
  opacity: 0;
  pointer-events: all;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#screen.gpu-capable #utility-tray-motion {
  backdrop-filter: blur(calc(20px * var(--motion-progress, 0))) saturate(calc(100% + (40% * var(--motion-progress, 0))));
  background-color: rgba(51, 51, 51, calc(var(--motion-progress, 0) * 0.1));
  transition: backdrop-filter 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

#utility-tray.brightness-changing #utility-tray-motion {
  background-color: transparent;
}

#screen:not(.desktop) #utility-tray.brightness-changing #utility-tray-motion {
  background-image: linear-gradient(
    to bottom,
    rgba(51, 51, 51, 0.8),
    rgba(51, 51, 51, 0.8) calc(var(--statusbar-height) * 2),
    transparent calc(var(--statusbar-height) * 3),
    transparent
  );
}

#utility-tray-motion.visible {
  visibility: visible;
  opacity: 1;
}

#screen.gpu-capable #utility-tray.brightness-changing #utility-tray-motion.visible {
  backdrop-filter: blur(0px) saturate(100%);
}

#utility-tray-motion::-webkit-scrollbar {
  display: none;
}

.utility-tray-header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 5rem;
  padding: 0 1.5rem;
  transform: scale(calc(0.9 + (0.1 * var(--motion-progress, 0)))) translateY(calc(1.5rem * var(--overscroll-progress)));
  filter: blur(calc(20px * (1 - var(--motion-progress, 0))));
  opacity: var(--motion-progress, 0);
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

#utility-tray.brightness-changing .utility-tray-header {
  opacity: 0;
}

#utility-tray-motion.transitioning .utility-tray-header {
  transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
}

.utility-tray-header h1 {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  height: 5rem;
  margin: 0;
  padding: 0 1rem;
  color: #fff;
  font-weight: normal;
  font-size: 2rem;
  line-height: 5rem;
}

.utility-tray-header menu[role='toolbar'] {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: 5rem;
  margin: 0;
  padding: 0.5rem 0;
}

.utility-tray-header menu[role='toolbar'] > a {
  box-sizing: border-box;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin: 0;
  padding: 0 1rem;
  border-radius: 1rem;
  color: #fff;
  line-height: 4rem;
  text-decoration: none;
}

.utility-tray-header menu[role='toolbar'] > a:hover {
  background-color: var(--item-hover);
}

.utility-tray-header menu[role='toolbar'] > a:active {
  background-color: var(--item-active);
}

.utility-tray-header menu[role='toolbar'] > a[data-icon]::before {
  height: 4rem;
  font-size: 2rem;
  line-height: 4rem;
}

.utility-tray-content {
  width: 100%;
  height: calc(100% - 5rem - var(--statusbar-height) - var(--software-buttons-height));
}

#control-center,
#notifications {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: calc(var(--statusbar-height) * 2) 0 2.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 100vw;
  transition: padding-top 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
}

#notifications {
  right: 0;
  left: unset;
}

#screen.close-reach #control-center,
#screen.close-reach #notifications {
  padding-top: var(--statusbar-height);
}

#screen.software-buttons-enabled #control-center,
#screen.software-buttons-enabled #notifications {
  padding-bottom: var(--software-buttons-height);
}

#control-center.hidden,
#notifications.hidden,
#utility-tray.panel-open #control-center,
#utility-tray.panel-open #notifications {
  visibility: hidden;
  opacity: 0;
}

.control-center-row {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0 1.5rem;
  gap: 1rem;
  transform: translateY(calc(1rem * var(--overscroll-progress)));
  opacity: var(--motion-progress, 0);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.control-center-row #media-playback,
.control-center-row #connection-settings > *,
.control-center-row #quick-settings,
.control-center-row #devices {
  transform: scale(calc(0.9 + (0.1 * var(--motion-progress, 0))));
  transition: transform 0.3s ease;
}

.control-center-row #connection-settings > li:last-child {
  transform: scale(calc(0.9 + (0.1 * var(--motion-progress, 0)))) translateY(calc(0.5rem * var(--overscroll-progress)));
}

.control-center-row:nth-child(2) {
  transform: translateY(calc(2rem * var(--overscroll-progress)));
}

.control-center-row:nth-child(3) {
  transform: translateY(calc(3rem * var(--overscroll-progress)));
}

.control-center-row:nth-child(4) {
  transform: translateY(calc(4rem * var(--overscroll-progress)));
}

#utility-tray-motion.transitioning .control-center-row {
  transition: transform 0.5s ease calc(50ms * var(--transition-order)), opacity 0.5s ease calc(50ms * var(--transition-order)),
    visibility 0.5s ease calc(50ms * var(--transition-order));
}

#notifications-container {
  transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
}

#screen:not(.desktop) #utility-tray-motion .hidden #notifications-container,
#screen:not(.desktop) #utility-tray-motion.fade-out #notifications-container {
  visibility: hidden;
  transform: scale(0.9);
  opacity: 0;
}

@media screen and (orientation: landscape) {
  #control-center,
  #notifications {
    max-width: var(--safezone-width);
    padding-right: 0;
    padding-left: 0;
  }
}
