#utility-tray {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: transform 0.5s ease;
}

.screen.close-reach #utility-tray {
  height: 60%;
  transform: translateY(40vh);
}

#utility-tray-motion {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  background-color: transparent;
  pointer-events: all;
  transition: background-color 0.3s ease, visibility 0.3s ease;
}

#utility-tray-motion.visible {
  visibility: visible;
  background-color: rgba(var(--lockscreen-accent-color-primary-r), var(--lockscreen-accent-color-primary-g), var(--lockscreen-accent-color-primary-b), calc(var(--motion-progress, 0) * 0.5));
}

.screen.gpu-capable #utility-tray-motion {
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease, visibility 0.3s ease;
}

.screen.gpu-capable #utility-tray-motion.visible {
  backdrop-filter: blur(calc(20px * var(--motion-progress, 0))) saturate(calc(100% + (40% * var(--motion-progress, 0))));
  background-color: rgba(var(--lockscreen-accent-color-primary-r), var(--lockscreen-accent-color-primary-g), var(--lockscreen-accent-color-primary-b), calc(var(--motion-progress, 0) * 0.3));
}

.screen.gpu-capable #utility-tray.brightness-changing #utility-tray-motion.visible {
  backdrop-filter: blur(10px) saturate(100%);
}

#utility-tray-motion::-webkit-scrollbar {
  display: none;
}

.utility-tray-header {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 5rem;
  padding: 0 1.5rem;
  transform: scale(calc(0.9 + (0.1 * var(--motion-progress, 0)))) translateY(calc(1.5rem * var(--overscroll-progress)));
  opacity: var(--motion-progress, 0);
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

#utility-tray.brightness-changing .utility-tray-header {
  opacity: 0;
}

#utility-tray-motion.transitioning .utility-tray-header {
  transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
}

.utility-tray-header h1 {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  height: 5rem;
  margin: 0;
  padding: 0 1rem;
  color: #fff;
  font-weight: normal;
  font-size: 2rem;
  line-height: 5rem;
}

.utility-tray-header menu[role='toolbar'] {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: 5rem;
  margin: 0;
  padding: 0.5rem 0;
}

.utility-tray-header menu[role='toolbar'] > a {
  box-sizing: border-box;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin: 0;
  padding: 0 1rem;
  border-radius: 1rem;
  color: #fff;
  line-height: 4rem;
  text-decoration: none;
}

.utility-tray-header menu[role='toolbar'] > a:hover {
  background-color: var(--item-hover);
}

.utility-tray-header menu[role='toolbar'] > a:active {
  background-color: var(--item-active);
}

.utility-tray-header menu[role='toolbar'] > a[data-icon]::before {
  height: 4rem;
  font-size: 2rem;
  line-height: 4rem;
}

.utility-tray-content {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding-bottom: 2.5rem;
  overflow: auto;
  transform: translateY(calc(2.5rem * var(--overscroll-progress)));
  transition: transform 0.3s ease;
}

#utility-tray-motion.transitioning .utility-tray-content {
  transition: transform 0.5s ease;
}

.screen.software-buttons-enabled .utility-tray-content {
  padding-bottom: var(--software-buttons-height);
}

.screen.desktop .utility-tray-content {
  padding-bottom: 0;
}

#control-center,
#notifications {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: calc(var(--statusbar-height) * 2) 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 100vw;
  transition: padding-top 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
}

#notifications {
  right: 0;
  left: unset;
}

.screen.close-reach #control-center,
.screen.close-reach #notifications {
  padding-top: var(--statusbar-height);
}

.screen.software-buttons-enabled #control-center,
.screen.software-buttons-enabled #notifications {
  padding-bottom: var(--software-buttons-height);
}

#control-center.hidden,
#notifications.hidden,
#utility-tray.panel-open #control-center,
#utility-tray.panel-open #notifications {
  visibility: hidden;
  opacity: 0;
}

.control-center-row {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0 1.5rem;
  gap: 1rem;
  transform: translateY(calc(1rem * var(--overscroll-progress)));
  opacity: var(--motion-progress, 0);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#utility-tray-motion.transitioning .control-center-row {
  transition: transform 0.5s ease calc(50ms * var(--transition-order)), opacity 0.5s ease calc(50ms * var(--transition-order)),
    visibility 0.5s ease calc(50ms * var(--transition-order));
}

#notifications-container {
  transition: opacity 0.3s ease;
}

#utility-tray.brightness-changing #notifications-container {
  opacity: 0;
}

@media screen and (orientation: landscape) {
  #control-center,
  #notifications {
    max-width: var(--safezone-width);
    padding-right: 0;
    padding-left: 0;
  }
}
