.tray-panel {
  --background: transparent;
  visibility: hidden;
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  width: calc(100% - 3rem);
  max-width: 40rem;
  height: max-content;
  max-height: calc(100% - var(--statusbar-height) - 2.5rem);
  overflow: hidden;
  translate: -50% 0;
  border-radius: 2.5rem;
  transition: visibility 0.3s ease;
}

#screen.software-buttons-enabled .tray-panel {
  bottom: var(--software-buttons-height);
}

#screen.desktop .tray-panel {
  bottom: calc(var(--dock-height) + 2rem);
  width: calc(100% - 8rem);
}
html[dir="ltr"] #screen.desktop .tray-panel {
  left: calc(50% + 2.5rem);
}
html[dir="rtl"] #screen.desktop .tray-panel {
  left: calc(50% - 2.5rem);
}

.tray-panel.visible {
  visibility: visible;
}

#screen.software-buttons-enabled .tray-panel {
  max-height: calc(
    100% - var(--statusbar-height) - var(--software-buttons-height)
  );
}

.tray-panel .header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 5rem;
  padding: 0 1rem;
  background-color: var(--tray-button-background);
}

.tray-panel .header h1 {
  flex-grow: 1;
  width: 100%;
  height: 5rem;
  margin: 0;
  color: var(--text-color);
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 5rem;
}

.tray-panel .header a {
  display: inline-block;
  flex-shrink: 0;
  width: 4rem;
  height: 5rem;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: var(--text-color);
  line-height: 5rem;
  text-align: center;
}

.tray-panel .header a[data-icon]::before {
  position: static;
  height: 5rem;
  font-size: 2rem;
  line-height: 5rem;
}

.tray-panel .content {
  width: 100%;
  height: 10rem;
  background-color: var(--tray-button-background-minus);
}

.tray-panel .buttons {
  box-sizing: border-box;
  display: flex;
  padding: 1.5rem;
  gap: 1rem;
  background-color: var(--tray-button-background);
}

.tray-panel .buttons > button {
  margin: 0;
}
