#volume-rocker {
  visibility: hidden;
  position: absolute;
  top: calc(1.5rem + var(--statusbar-height));
  right: 0;
  width: 4rem;
  height: 20rem;
  margin: 1rem;
  transform: translateX(calc(100% + 2rem));
  border-radius: 2rem;
  background-color: var(--translucent-background-plus);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, visibility 0.3s ease;
}

#volume-rocker.visible {
  visibility: visible;
  transform: translateX(0);
  transform-origin: right;
  transition: transform 0.3s cubic-bezier(0.2, 0.9, 0.1, 1.1), visibility 0.3s ease;
}

.screen.gpu-capable #volume-rocker.visible {
  backdrop-filter: blur(20px) saturate(180%);
  background-color: var(--acrylic-background-plus);
}

#volume-rocker-progress {
  position: absolute;
  bottom: 0.8rem;
  left: calc(50% - 1.2rem);
  width: 2.4rem;
  height: calc(100% - 1.6rem);
  overflow: hidden;
  border-radius: 1.2rem;
  background-color: var(--item-plus);
}

#volume-rocker-progress::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% * var(--progress, 0));
  border-radius: 1.2rem;
  background-color: var(--accent-color);
  content: '';
  transition: height 0.3s ease;
}

#volume-rocker-progress::after {
  position: absolute;
  bottom: calc((100% * var(--progress, 0)) - 2rem);
  left: 0.4rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 1.2rem;
  background-color: var(--accent-color-plus);
  content: '';
  transition: bottom 0.3s ease;
}
