#wallpapers {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#wallpaper-image,
#wallpaper-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.screen.mobile #wallpapers.app-open #wallpaper-image,
.screen.mobile #wallpapers.app-open #wallpaper-video {
  transform: scale(1.1);
}

#wallpapers .blur-overlay {
  visibility: hidden;
  position: absolute;
  top: 0.01rem;
  left: 0.01rem;
  width: calc(100% - 0.02rem);
  height: calc(100% - 0.02rem);
  background-color: rgba(0,0,0,0.1);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease, visibility 0.3s ease;
}

.screen.mobile #wallpapers.homescreen-to-cards-view .blur-overlay {
  visibility: visible;
  backdrop-filter: blur(calc(20px * var(--motion-progress, 0))) saturate(calc(100% + (80% * var(--motion-progress, 0))));
  background-color: rgba(var(--lockscreen-accent-color-primary-r), var(--lockscreen-accent-color-primary-g), var(--lockscreen-accent-color-primary-b), calc(var(--motion-progress, 0) * 0.3));
}

.screen.mobile #wallpapers.app-open .blur-overlay,
.screen.cards-view-visible #wallpapers .blur-overlay {
  visibility: visible;
  backdrop-filter: blur(20px) saturate(180%);
  background-color: rgba(var(--lockscreen-accent-color-primary-r), var(--lockscreen-accent-color-primary-g), var(--lockscreen-accent-color-primary-b), calc(var(--motion-progress, 0) * 0.3));
}
