#windows {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.5, 0.8, 0, 1.1);
}

#windows.tiling-enabled {
  box-sizing: border-box;
  display: flex;
  padding: 1rem;
  padding-bottom: calc(2rem + var(--dock-height));
  gap: 1rem;
}

.screen.close-reach #windows {
  height: 60%;
  transform: translateY(40vh);
}

.screen.gpu-fully-capable #windows.utility-tray-motion > #homescreen .browser {
  transform: scale(calc(1 - (0.1 * var(--motion-progress))));
  transition: transform 0.3s ease;
}

.workspace {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.appframe {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--window-width, 100%);
  height: var(--window-height, 100%);
  overflow: hidden;
  transform: translateY(100%);
  translate: var(--window-translate, 0 0);
  background-color: var(--theme-color, var(--background));
}

.appframe > * {
  pointer-events: none;
}

.appframe.active,
.appframe.active-as-overlay {
  z-index: 1;
  transform: translateY(0);
}

#windows:not(.dragging) .appframe.active-as-overlay > *,
#windows:not(.dragging) .appframe.active > * {
  pointer-events: unset;
}

.appframe.landscape,
.appframe.landscape-default {
  transform: rotate(90deg);
}

#windows.dragging .appframe:not(#homescreen) {
  border-radius: var(--screen-radius);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

#windows .appframe.dragging {
  box-shadow: 0 0 0 1rem var(--item-active);
}

.screen.cards-view-visible #windows,
.screen.drag-and-drop-active #windows,
.screen.utility-tray-visible #windows {
  pointer-events: none;
}

.screen.cards-view-visible .appframe:not(.to-scale),
.screen.cards-view-visible .appframe:not(.to-scale) > * {
  transform: none;
  opacity: 0.0000000000000001;
  pointer-events: none;
  transition: none;
}

.screen:not(.cards-view-visible) #homescreen.appframe {
  transform: scale(0.9);
  opacity: 0;
}

.screen:not(.cards-view-visible) #homescreen.appframe.active {
  transform: scale(1);
  opacity: 1;
}

.appframe.transitioning {
  transition: all 0.5s cubic-bezier(1, 0.8, 0, 1);
}

.appframe.expand {
  border-radius: var(--screen-radius);
  animation: expand 0.3s ease forwards;
}

@keyframes expand {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.appframe.shrink {
  border-radius: var(--screen-radius);
  animation: shrink 0.3s ease forwards;
}

@keyframes shrink {
  from {
    transform: scale(var(--scale, 1)) translateY(var(--offset-y, 0));
    opacity: 1;
  }
  to {
    transform: scale(0.75);
    opacity: 0;
  }
}

.appframe.shrink-to-homescreen {
  z-index: 10;
  border-radius: var(--screen-radius);
  animation: shrink-to-homescreen 0.5s ease forwards;
}

@keyframes shrink-to-homescreen {
  from {
    transform: translate(var(--offset-x, 0), var(--offset-y, 0)) scale(var(--scale, 1));
  }
  to {
    transform: translate(var(--icon-pos-x), var(--icon-pos-y)) scale(var(--icon-scale-x), var(--icon-scale-y));
    transform-origin: 0 0;
    border-radius: calc((4.8rem / 4) / var(--icon-scale-x)) / calc((4.8rem / 4) / var(--icon-scale-y));
  }
}

.appframe.shrink-to-homescreen > .splashscreen {
  animation: shrink-to-homescreen-icon 0.2s ease forwards 0.3s;
  opacity: 0;
}

@keyframes shrink-to-homescreen-icon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.appframe.shrink-to-homescreen > .splashscreen .icon {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.appframe.shrink-to-dock {
  border-radius: var(--screen-radius);
  animation: shrink-to-dock 0.3s ease forwards;
}

@keyframes shrink-to-dock {
  from {
    transform: scale(var(--scale, 1)) translateY(var(--offset-y, 0));
    opacity: 1;
  }
  to {
    transform: scale(0.75);
    opacity: 0;
  }
}

.appframe:not(.window).from-left {
  border-radius: var(--screen-radius);
  animation: from-left 0.5s cubic-bezier(0.5, 0.8, 0, 1.1);
}

@keyframes from-left {
  from {
    transform: translateX(calc(-100% - 2rem));
  }
  to {
    transform: translateX(0);
  }
}

.appframe:not(.window).from-right {
  border-radius: var(--screen-radius);
  animation: from-right 0.5s cubic-bezier(0.5, 0.8, 0, 1.1);
}

@keyframes from-right {
  from {
    transform: translateX(calc(100% + 2rem));
  }
  to {
    transform: translateX(0);
  }
}

.appframe:not(.window).to-left {
  border-radius: var(--screen-radius);
  animation: to-left 0.5s cubic-bezier(0.5, 0.8, 0, 1.1);
}

@keyframes to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}

.appframe:not(.window).to-right {
  border-radius: var(--screen-radius);
  animation: to-right 0.5s cubic-bezier(0.5, 0.8, 0, 1.1);
}

@keyframes to-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100% + 2rem));
  }
}

.appframe.zoom-in {
  border-radius: var(--screen-radius);
  animation: zoom-in 0.5s cubic-bezier(0.2, 0.9, 0.1, 1) forwards;
}

@keyframes zoom-in {
  from {
    transform: scale(1.25);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.appframe.zoom-out {
  border-radius: var(--screen-radius);
  animation: zoom-out 0.3s cubic-bezier(0.2, 0.9, 0.1, 1) forwards;
}

@keyframes zoom-out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.25);
    opacity: 0;
  }
}

.appframe.from-cards-view {
  transform-origin: center !important;
  border-radius: var(--screen-radius);
  animation: from-cards-view 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
  opacity: 1;
}

@keyframes from-cards-view {
  from {
    transform: scale(0.65);
  }
  to {
    transform: scale(var(--scale, 1)) translateY(var(--offset-y, 0));
  }
}

.appframe.to-cards-view {
  transform-origin: center !important;
  border-radius: var(--screen-radius);
  animation: to-cards-view 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
  opacity: 1 !important;
}

@keyframes to-cards-view {
  from {
    transform: scale(var(--scale, 1)) translateY(var(--offset-y, 0));
  }
  to {
    transform: scale(0.65);
  }
}

.appframe.sb-overlay,
.appframe.sb-overlay .chrome,
.appframe.transparent,
.appframe.transparent .chrome {
  background-color: transparent;
}

.appframe.window {
  transform: translateY(0);
  border-radius: 2rem !important;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

#windows.tiling-enabled .appframe.window {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  translate: 0 0;
  border-radius: 0 !important;
}

.appframe.window.active {
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
}

.appframe.window.maximized {
  width: 100%;
  height: calc(100% - var(--statusbar-height) - var(--software-buttons-height));
  translate: var(--statusbar-height) 0;
  box-shadow: none;
}

.screen.desktop .appframe.window.maximized {
  height: calc(100% - var(--dock-height) - 2rem);
  translate: 0 0;
  border-radius: 0 !important;
}

.screen.desktop .appframe.window.snapped {
  border-radius: 0 !important;
  box-shadow: none;
}

#screen.desktop .appframe.window.fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  translate: 0 0;
  border-radius: 0 !important;
  box-shadow: none;
}

#screen.context-menu-visible .appframe .chrome .browser-container > .browser-view {
  pointer-events: none;
}

.appframe.window.immersive #screen.software-buttons-enabled .appframe.window.immersive {
  height: calc(100% + var(--software-buttons-height));
}

.appframe .statusbar {
  z-index: 50;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#windows:not(.dragging) .appframe.active .statusbar {
  opacity: 1;
}

.appframe.window .statusbar,
.screen.desktop .appframe .statusbar {
  display: none;
}

.appframe .splashscreen {
  visibility: visible;
  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  cursor: wait;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.appframe.sb-overlay .splashscreen,
.appframe:not(.shrink-to-homescreen) .splashscreen.hidden {
  visibility: hidden;
  opacity: 0;
}

.appframe .splashscreen .icon {
  position: absolute;
  top: calc(50% - 3.2rem);
  left: calc(50% - 3.2rem);
  width: 6.4rem;
  height: 6.4rem;
}

.resize-handler {
  z-index: 100;
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
}

.resize-handler.nw-resize {
  top: 0;
  left: 0;
  cursor: ne-resize;
}

.resize-handler.n-resize {
  top: 0;
  left: 1rem;
  width: calc(100% - 2rem);
  cursor: n-resize;
}

.resize-handler.ne-resize {
  top: 0;
  right: 0;
  cursor: nw-resize;
}

.resize-handler.w-resize {
  top: 1rem;
  left: 0;
  height: calc(100% - 2rem);
  cursor: w-resize;
}

.resize-handler.e-resize {
  top: 1rem;
  right: 0;
  height: calc(100% - 2rem);
  cursor: e-resize;
}

.resize-handler.sw-resize {
  bottom: 0;
  left: 0;
  cursor: se-resize;
}

.resize-handler.s-resize {
  bottom: 0;
  left: 1rem;
  width: calc(100% - 2rem);
  cursor: s-resize;
}

.resize-handler.se-resize {
  right: 0;
  bottom: 0;
  cursor: sw-resize;
}

@media screen and (min-width: 600px) {
  .appframe .chrome:not(.side-tabs).top.visible,
  .appframe .chrome:not(.side-tabs).top.visible .toolbar {
    padding-top: var(--statusbar-height);
  }

  .appframe.window .chrome:not(.side-tabs).top.visible,
  .appframe.window .chrome:not(.side-tabs).top.visible .toolbar {
    padding-top: var(--chrome-toolbar-gap);
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  #screen.software-buttons-enabled .appframe .chrome {
    left: unset;
    width: calc(100% - var(--software-buttons-height));
  }

  html[dir='ltr'] #screen.software-buttons-enabled .appframe .chrome {
    right: 0;
  }

  html[dir='rtl'] #screen.software-buttons-enabled .appframe .chrome {
    left: 0;
  }

  #screen.software-buttons-enabled .appframe.sb-overlay .chrome .browser-view {
    height: 100%;
  }

  #screen.software-buttons-enabled .appframe.immersive .chrome .browser-view {
    height: calc(100% + var(--software-buttons-height));
  }
}
