@font-face {
  src: url(../../fonts/ReadexPro-VariableFont_HEXP.ttf);
  font-family: 'Orchid Brand';
}

* {
  shape-rendering: auto;
  text-rendering: optimizeSpeed;
  image-rendering: auto;
  scrollbar-width: none;
}

html, body {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  background-color: #000;
  accent-color: var(--accent-color);
  caret-color: var(--accent-color);
  font-size: calc(10px * var(--text-scaling));
  font-family: -orchid-standard-font, system-ui;
  scroll-behavior: smooth;
  scrollbar-color: var(--text-color-faded) var(--background);
}

:root {
  --statusbar-height: 0rem;
  --statusbar-padding-left: 3rem;
  --statusbar-padding-right: 3rem;
  --software-buttons-height: 0rem;
  --safezone-width: 75rem;

  --text-scaling: 1;

  --paragraph-weight: normal;
  --generic-label-weight: normal;
  --time-label-weight: 300;
  --date-label-weight: 600;
  --button-label-weight: normal;
  --video-label-weight: normal;
  --header-label-weight: 200;
  --header-label-scroll-weight: 500;
  --header-button-label-weight: normal;
  --list-label-weight: normal;
  --list-header-label-weight: normal;

  --label-text-shadow: none;
  --label-text-shadow-black: none;
  --label-text-shadow-white: none;
}

.bold-text {
  --paragraph-weight: bold;
  --generic-label-weight: bold;
  --time-label-weight: 600;
  --date-label-weight: 900;
  --button-label-weight: bold;
  --video-label-weight: bold;
  --header-label-weight: 600;
  --header-label-scroll-weight: 900;
  --header-button-label-weight: bold;
  --list-label-weight: bold;
  --list-header-label-weight: bold;
}

.contrast-text {
  --label-text-shadow: 0 0.1rem 0 var(--background), 0 -0.1rem 0 var(--background), 0.1rem 0 0 var(--background), -0.1rem 0 0 var(--background);
  --label-text-shadow-black: 0 0.1rem 0 #000, 0 -0.1rem 0 #000, 0.1rem 0 0 #000, -0.1rem 0 0 #000;
  --label-text-shadow-white: 0 0.1rem 0 #fff, 0 -0.1rem 0 #fff, 0.1rem 0 0 #fff, -0.1rem 0 0 #fff;
}

p {
  color: var(--text-color);
  font-weight: var(--paragraph-weight);
  font-size: 1.6rem;
  text-shadow: var(--label-text-shadow);
}

ul {
  margin: 0;
  padding: 0;
}

parsererror {
  z-index: 999999999;
  position: absolute;
  bottom: 0;
  left: 0;
}

[role="app"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  user-select: none;
}

html:not(.active) [role="app"] input {
  --accent-color: #858585;
  --accent-text-color: #e7e7e7;
}

html[class*="browser"] [role="app"] {
  --statusbar-height: 0rem;
  --software-buttons-height: 0rem;
}

[role="web"] {
  --statusbar-height: 0rem;
  --software-buttons-height: 0rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

section[role="panel"] {
  display: flex;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform-origin: top;
  border-radius: calc(1.5rem - (1.5rem * var(--card-progress, 1)));
  background-color: var(--background);
  opacity: 0;
  transition: transform 1s cubic-bezier(0.2, 0.9, 0.1, 1), opacity 0.25s cubic-bezier(0.2, 0.9, 0.1, 1), visibility 1s ease;
}

html[dir="ltr"] section[role="panel"].previous {
  transform: translateX(-3rem);
}
html[dir="rtl"] section[role="panel"].previous {
  transform: translateX(3rem);
}

html[dir="ltr"] section[role="panel"].next {
  transform: translateX(3rem);
}
html[dir="rtl"] section[role="panel"].next {
  transform: translateX(-3rem);
}

html[dir="ltr"] section[role="panel"].visible,
html[dir="rtl"] section[role="panel"].visible {
  visibility: visible;
  transform: translate(0, calc(var(--statusbar-height, 0px) - (var(--statusbar-height, 0px) * var(--card-progress, 1)))) scale(calc(0.9 + (0.1 * var(--card-progress, 1))));
  opacity: 1;
  transition: transform 1s cubic-bezier(0.2, 0.9, 0.1, 1), opacity 0.5s cubic-bezier(0.2, 0.9, 0.1, 1) 0.25s, visibility 1s ease;
}

html[dir="ltr"] section[role="panel"].will-be-visible,
html[dir="rtl"] section[role="panel"].will-be-visible {
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

section[role="panel"] > section {
  box-sizing: border-box;
  position: absolute;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding-bottom: var(--software-buttons-height);
  overflow-y: auto;
  overflow-y: overlay;
  transform: translateY(calc(15rem * var(--reload-motion, 0)));
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 1s ease, transform 0.3s ease;
}

section[role="panel"] > section:hover {
  scrollbar-color: var(--text-color-faded) var(--background);
  transition: scrollbar-color 0.3s ease, transform 0.3s ease;
}

section[role="panel"] > [role="toolbar"] ~ section {
  padding-bottom: calc(var(--software-buttons-height) + 4.5rem);
}

@media screen and (orientation: portrait) {
  .bb-tablist-views > section[role="panel"] > header:first-child + section {
    padding-bottom: calc(var(--software-buttons-height) + 6.5rem);
  }
}

section[role="panel"] > header:first-child ~ section {
  padding-top: calc(var(--statusbar-height) + 5rem + 4rem);
}

section[role="panel"] > header.compact:first-child ~ section,
[role="web"] section[role="panel"] > header:first-child ~ section {
  padding-top: calc(var(--statusbar-height) + 5rem);
}

section[role="panel"] > header:first-child ~ header:not(:first-child) ~ section {
  padding-top: calc(var(--statusbar-height) + 5rem + 4rem + 3rem);
}

section[role="panel"] > header.compact:first-child ~ header:not(:first-child) ~ section {
  padding-top: calc(var(--statusbar-height) + 5rem + 3rem);
}

section[role="panel"] > section > .scroll-content {
  width: 100%;
  height: 100%;
}

section[role="panel"] > section > *:not(.scroll-content, .scrollbar-track, .bb-emptyscreen),
section[role="panel"] > section > .scroll-content > *:not(.scroll-content, .bb-emptyscreen) {
  visibility: hidden;
  transform: translateY(3rem);
  opacity: 0;
  transition: transform 1s cubic-bezier(0.2, 0.9, 0.1, 1) 0.5s, opacity 0.5s cubic-bezier(0.2, 0.9, 0.1, 1) 0.5s, visibility 0.5s ease 0.5s;
}

section[role="panel"].visible > section > *:not(.scroll-content, .scrollbar-track, .bb-emptyscreen),
section[role="panel"].will-be-visible > section > *:not(.scroll-content, .scrollbar-track, .bb-emptyscreen),
section[role="panel"].visible > section > .scroll-content > *:not(.scroll-content, .bb-emptyscreen),
section[role="panel"].will-be-visible > section > .scroll-content > *:not(.scroll-content, .bb-emptyscreen) {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

section[role="panel"] > section .searchbox {
  width: calc(100% - 3rem);
  max-width: calc(var(--safezone-width) - 3rem);
  margin: 0 auto 1rem;
  overflow: hidden;
}

section[role="panel"] > section .searchbox > .bb-search {
  width: 100%;
}

section[role="panel"] > section aside {
  box-sizing: border-box;
  width: calc(100% - 3rem);
  max-width: 71.8rem;
  margin: 0 auto 1.5rem;
  padding: 0;
  border: solid 0.1rem var(--list-background-border);
  border-radius: 1.5rem;
  background-color: var(--background-minus);
}

section[role="panel"] > section aside header {
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  margin: 0;
  padding: 0 1.5rem;
  color: #858585;
  font-size: 1.6rem;
  line-height: 3rem;
}

section[role="panel"] > section aside ul {
  width: 100%;
  margin: 0;
  padding: 0 0.5rem 0.5rem;
  border: none;
  background-color: transparent;
}

section[role="panel"] > section aside ul li {
  background-color: transparent;
  list-style: none;
}

section[role="panel"] > section aside ul li > a {
  width: max-content;
  color: var(--accent-color);
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-decoration: none;
  transition: box-shadow 0.2s ease;
}

section[role="panel"] > section aside ul li > a:hover {
  box-shadow: 0 0.2rem 0 var(--accent-color);
}

section[role="panel"] > section aside ul li > a:active {
  opacity: 0.5;
}

section[role="panel"] > section .scrollbar-track {
  margin: 0.5rem;
  overflow: hidden;
  border-radius: 1rem;
  background-color: transparent;
}

section[role="panel"] > section .scrollbar-track-x {
  bottom: var(--software-buttons-height);
  height: 0.5rem;
}

section[role="panel"] > section .scrollbar-track-y {
  top: calc(0.5rem + (5rem * var(--progress, 0)));
  right: 0;
  width: 0.5rem;
  height: calc(100% - 1rem - var(--software-buttons-height) - (5rem * var(--progress, 0)));
}
html[dir="rtl"] section[role="panel"] > section .scrollbar-track-y {
  right: unset;
  left: 0;
}

section[role="panel"] > .headerbar:not(.compact) + section .scrollbar-track-y {
  top: calc(0.5rem + (5rem * var(--progress, 0)) + (13rem * var(--overscroll-progress)));
  height: calc(100% - 1rem - var(--software-buttons-height) - (5rem * var(--progress, 0)) + (13rem * var(--overscroll-progress)));
}

section[role="panel"] > section .scrollbar-thumb {
  box-sizing: border-box;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1rem;
  background-clip: content-box;
  background-color: var(--text-color-faded);
}

.hbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start {
  align-items: start;
  justify-content: start;
}

.center {
  align-items: center;
  justify-content: center;
}

.end {
  align-items: end;
  justify-content: end;
}

.fit {
  flex-grow: 1;
}

@media screen and (min-width: 1536px) {
  section[role="panel"] > section aside {
    position: absolute;
    top: calc(5rem + var(--statusbar-height, 0px) + (4rem * (1 - var(--progress, 0))));
    right: 0;
    width: 22rem;
    margin: calc(1.5rem * var(--progress, 0)) 1.5rem 1.5rem;
  }
}
