section[role="panel"] > [role="toolbar"] {
  box-sizing: border-box;
  display: flex;
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(4.5rem + var(--software-buttons-height));
  margin-top: calc(var(--software-buttons-height) * -1);
  padding: 0.5rem 0.5rem var(--software-buttons-height);
  gap: 0.5rem;
  background-color: rgba(var(--headerbar-background-r), var(--headerbar-background-g), var(--headerbar-background-b), var(--tablist-progress, 0));
}

.active section[role="panel"] > [role="toolbar"] {
  outline: solid 0.1rem rgba(255, 255, 255, calc(0.1 * var(--tablist-progress)));
  backdrop-filter: blur(calc(20px * var(--tablist-progress, 0))) saturate(calc(100% + (80% * var(--tablist-progress, 0))));
  background-color: rgba(var(--headerbar-background-r), var(--headerbar-background-g), var(--headerbar-background-b), calc(0.8 * var(--tablist-progress, 0)));
}

section[role="panel"] > [role="toolbar"] .safezone {
  display: flex;
  width: 100%;
  max-width: calc(var(--safezone-width) - 1rem);
  margin: 0 auto;
  gap: 0.5rem;
}

section[role="panel"] > [role="toolbar"] button {
  width: 100%;
  height: 4rem;
  margin: 0;
  padding: 0 1rem;
  border-radius: 2rem;
  background-color: transparent;
  color: var(--text-color);
  text-align: center;
}

section[role="panel"] > [role="toolbar"] button:hover {
  background-color: var(--item-hover);
}

section[role="panel"] > [role="toolbar"] button:active {
  background-color: var(--item-active);
  color: var(--text-color-faded);
}

section[role="panel"] > [role="toolbar"] button[data-icon]::before {
  position: static;
}