:host {
  display: block;
  position: relative;
  flex-shrink: 0;
  width: max-content;
}

:host > .toolbar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: max-content;
  height: 5rem;
  gap: 0.5rem;
}

::slotted(a[href]) {
  box-sizing: border-box;
  display: inline-flex;
  z-index: 1;
  position: relative;
  flex-shrink: 0;
  align-items: center;
  width: max-content;
  min-width: 3.6rem;
  height: 3.6rem;
  margin: 0;
  padding: 0 0.8rem;
  border-radius: 2rem;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
  font-weight: var(--header-button-label-weight);
  font-size: 1.6rem;
  line-height: 3.6rem;
  text-align: center;
  text-decoration: none;
  text-shadow: var(--label-text-shadow);
  transition: background-color 0.3s ease;
}

::slotted(a[href]:hover) {
  background-color: var(--item-hover);
  transition: background-color 0.1s ease;
}

::slotted(a[href]:active) {
  background-color: var(--item-active);
  color: var(--text-color-faded);
  transition: background-color 0.1s ease;
}

::slotted(a[href][data-icon])::before {
  width: 2rem;
  height: 3.6rem;
  font-size: 2rem;
}
