#grid {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  transform: translateY(calc(3rem * (var(--motion-progress, 0) + (var(--overscroll-progress, 0)))));
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  transition: all 0.3s ease;
}

#app.transitioning #grid {
  transition: all 0.5s ease;
}

.page {
  box-sizing: border-box;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: var(--statusbar-height) 1rem calc(var(--software-buttons-height) + 2.5rem + 3rem + var(--icon-size));
  overflow: hidden;
  perspective: 100vw;
  scroll-snap-align: start;
}

@media screen and (orientation: portrait) and (max-height: 479px) {
  .page {
    height: max-content;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

#grid::-webkit-scrollbar {
  display: none;
}

.icon {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  list-style: none;
  transition: all 0.75s cubic-bezier(0.5, 0.8, 0, 1) 0.5s;
}

.icon.dragging {
  transition: all 0.3s ease;
}

#app.hidden .icon {
  visibility: hidden;
  transform: translateZ(var(--pos-z));
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.5, 0.8, 0, 1);
}

.icon .icon-holder {
  position: relative;
  width: var(--icon-size);
  height: var(--icon-size);
  margin: 0 auto;
  padding-top: 0.4rem;
}

.icon .icon-holder > .appicon {
  display: block;
  position: absolute;
  width: var(--icon-size);
  height: var(--icon-size);
  border: none;
  image-rendering: optimizeSpeed;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.icon .icon-holder > .appicon.hidden {
  opacity: 0;
}

.icon .icon-holder > .appicon {
  transition: filter 0.5s ease;
}

.icon.dragging .icon-holder > .appicon {
  filter: drop-shadow(0 0.4rem 1.2rem rgba(0, 0, 0, 0.1));
}

.icon:active .icon-holder > .appicon {
  filter: brightness(75%);
  transition: none;
}

[data-edit-mode="true"] .icon:not(.dragging) .icon-holder > .appicon {
  transform-origin: center !important;
  animation: icon-edit-wiggle 0.3s ease-in-out infinite;
}

[data-edit-mode="true"] .icon:not(.dragging):nth-child(3n-1) .icon-holder > .appicon {
  animation-delay: 0.2s;
}

[data-edit-mode="true"] .icon:not(.dragging):nth-child(3n) .icon-holder > .appicon {
  animation-delay: 0.1s;
}

@keyframes icon-edit-wiggle {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.icon .icon-holder > .notification-badge {
  box-sizing: border-box;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -0.5rem;
  min-width: 2.4rem;
  height: 2.4rem;
  margin: 0;
  padding: 0 0.5rem;
  transform: scale(0);
  border-radius: 2.4rem;
  background-color: #c00040;
  color: rgba(255, 255, 255, 0.75);
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
}

.icon .icon-holder > .uninstall-button {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: -0.5rem;
  width: 3rem;
  height: 3rem;
  margin: 0;
  padding: 0 0.7rem;
  transform: scale(0);
  border: none;
  border-radius: 50%;
  background-color: #c00040;
  color: rgba(255, 255, 255, 0.75);
  line-height: 3rem;
  opacity: 0;
  transition: all 0.3s ease;
}

[data-edit-mode="true"] .icon .icon-holder > .uninstall-button {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.icon .icon-holder > .uninstall-button[data-icon]::before {
  height: 3rem;
  font-size: 1.6rem;
  line-height: 4rem;
}

.icon .name {
  width: 100%;
  margin: 0 0 1rem;
  overflow: hidden;
  color: #fff;
  font-weight: var(--generic-label-weight);
  font-size: var(--icon-label-size);
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3), 0 0 6px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  transition: all 0.3s ease;
}

.light .icon .name {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 500;
  text-shadow: none;
}

.icon.icon.dragging .name {
  opacity: 0;
}

[data-edit-mode="true"] .icon:not(.dragging) .name {
  transform-origin: 50% -3rem !important;
  animation: icon-edit-wiggle 0.3s ease-in-out infinite;
}

[data-edit-mode="true"] .icon:not(.dragging):nth-child(3n-1) .name {
  animation-delay: 0.2s;
}

[data-edit-mode="true"] .icon:not(.dragging):nth-child(3n) .name {
  animation-delay: 0.1s;
}

@media screen and (orientation: portrait) and (max-height: 400px) {
  .icon .name {
    display: none;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .page {
    grid-template-rows: repeat(var(--grid-columns), 1fr);
    grid-template-columns: repeat(var(--grid-rows), 1fr);
    padding: var(--statusbar-height) 1rem 4rem;
    padding-right: 9rem;
  }
}

@media screen and (min-width: 768px) {
  .page {
    grid-template-rows: repeat(var(--grid-columns), 1fr);
    grid-template-columns: repeat(var(--grid-rows), 1fr);
  }
}
