#viewfinder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: viewfinder-show 0.3s ease;
}

#viewfinder.shoot {
  animation: viewfinder-shoot 0.2s ease forwards;
}

@keyframes viewfinder-show {
  from {
    transform: scale(1.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes viewfinder-shoot {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}
