#create-post {
  /* backdrop-filter: blur(5px) saturate(180%); */
  display: flex;
  visibility: hidden;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.3);
  opacity: 0;
  transition: all 0.3s ease;
}

#create-post.visible {
  visibility: visible;
  opacity: 1;
}

#create-post .container {
  width: 100%;
  max-width: 40rem;
  transform: scale(0.9);
  border-radius: 2rem;
  background-color: var(--background-plus);
  transition: all 0.3s ease;
}

#create-post.visible .container {
  transform: scale(1);
}

#create-post .container section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 1.5rem 0;
}

#create-post .container section > .header {
  display: flex;
  width: 100%;
  gap: 1rem;
}

#create-post .container section > .header button {
  flex-shrink: 0;
  width: 4rem;
  padding: 0 1rem;
}

#create-post .container section > .header button[data-icon]::before {
  position: static;
}

#create-post .container menu {
  box-sizing: border-box;
  height: 7rem;
  margin: 0;
  padding: 1.5rem;
}

#create-post-type {
  width: max-content;
}

#create-post-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
  font-weight: normal;
  font-size: 1.6rem;
  font-family: -orchid-standard-font, system-ui, sans-serif;
  resize: none;
}
