#views {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  #views {
    width: calc(100% - 10vw);
    margin: 0 5vw;
  }
}

#home,
#post {
  transform: translateX(0) !important;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

#home > .content > *:not(.scroll-content, .scrollbar-track),
#post > .content > *:not(.scroll-content, .scrollbar-track),
#home > .content > .scroll-content > *,
#post > .content > .scroll-content > * {
  visibility: unset !important;
  transform: translateY(0) !important;
  opacity: 1 !important;
  transition: none !important;
}

#post .post::after {
  display: none;
}

.profile-banner {
  position: relative;
  width: calc(100% - 3rem);
  max-width: calc(var(--safezone-width) - 3rem);
  margin: 0 auto;
  padding-top: 13.5rem;
}

.profile-banner > .banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 17.5rem;
  object-fit: cover;
  border-radius: 1.5rem;
  background-color: #858585;
}

.profile-banner > .container {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem;
  gap: 1rem;
}

.profile-banner > .container .avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  outline: solid 0.5rem var(--background);
  background-color: #858585;
}

.profile-banner > .container figcaption {
  width: 100%;
  margin: 0 0 1rem;
}

.profile-banner > .container figcaption .username {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.2rem;
  color: var(--text-color);
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.profile-banner > .container figcaption .username.verified::after {
  -webkit-mask: no-repeat center / 1em;
  -webkit-mask-image: url('images/verified.svg');
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-inline-start: 0.5rem;
  background-color: currentColor;
  content: '';
  mask: no-repeat center / 1em;
  mask-image: url('images/verified.svg');
}

.profile-banner > .container figcaption .stats {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
  color: var(--text-color-faded);
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2rem;
}

.profile-banner > .container figcaption .stats > .separator {
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  background-color: var(--text-color);
}

.profile-banner > .container figcaption .handle {
  width: 100%;
  height: 2rem;
  color: var(--text-color-faded);
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2rem;
}

@media screen and (max-width: 767px) {
  #root {
    z-index: 5;
    width: 90%;
    border-radius: 0;
    box-shadow: 0 0 0 calc(100vw + 100vh) rgba(0, 0, 0, 0.8);
  }
  html[dir="ltr"] #root {
    transform: translateX(-100%);
  }
  html[dir="rtl"] #root {
    transform: translateX(100%);
  }

  html[dir="ltr"] #root.visible,
  html[dir="rtl"] #root.visible {
    transform: translateX(0);
  }

  html[dir="ltr"] #home,
  html[dir="rtl"] #home {
    visibility: visible;
    /* transform: translateX(0); */
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  #root {
    box-sizing: border-box;
    visibility: visible;
    z-index: 1;
    position: absolute;
    top: 0;
    width: 32rem;
    height: 100%;
    transform: none;
    opacity: 1;
  }
  html[dir="ltr"] #root {
    left: 0;
  }
  html[dir="rtl"] #root {
    right: 0;
  }

  #root.visible {
    width: 100%;
    border-inline-end: none;
  }

  #root > section > *:not(.scroll-content, .scrollbar-track, .bb-emptyscreen),
  #root > section > .scroll-content > *:not(.bb-emptyscreen) {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }

  [role="panel"]:not(#root) {
    position: absolute;
    top: 0;
    width: calc(100% - 32rem);
    height: 100%;
  }
  html[dir="ltr"] [role="panel"]:not(#root) {
    left: 32rem;
  }
  html[dir="rtl"] [role="panel"]:not(#root) {
    right: 32rem;
  }
}

@media screen and (min-width: 1024px) {
  #root.visible {
    width: calc(100% - 32rem);
  }

  [role="panel"]:not(#root, #trending) {
    position: absolute;
    top: 0;
    width: calc(100% - 64rem) !important;
    height: 100%;
  }

  #trending {
    visibility: visible;
    width: 32rem !important;
    transform: none;
    opacity: 1;
  }
  html[dir="ltr"] #trending {
    right: 0;
    left: unset !important;
  }
  html[dir="rtl"] #trending {
    right: unset !important;
    left: 0;
  }

  #trending > section > *:not(.scroll-content, .scrollbar-track, .bb-emptyscreen),
  #trending > section > .scroll-content > *:not(.bb-emptyscreen) {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }
}
