@font-face {
  src: url(/fonts/ReadexPro-VariableFont_HEXP.ttf);
  font-family: 'Orchid Brand';
}

section[role="panel"] > header:first-child > img {
  display: none;
}

@media screen and (min-width: 600px) {
  section[role="panel"] > header:first-child > img {
    display: block;
  }
}

section[role="panel"] > header:first-child .searchbox {
  box-sizing: border-box;
  display: flex;
  z-index: 1;
  position: relative;
  width: 100%;
  max-width: 40rem;
  height: 4rem;
  margin: 0.5rem 0;
  margin-inline-start: auto;
  margin-inline-end: 0.5rem;
  padding: 0 0.5rem;
  gap: 0.5rem;
  border-radius: 2rem;
  background-color: var(--item-plus);
}

section[role="panel"] > header:first-child .searchbox .placeholder {
  display: flex;
  width: 100%;
  height: 4rem;
  padding-inline-start: 1rem;
  color: var(--text-color-faded);
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 4rem;
}

section[role="panel"] > header:first-child .searchbox .placeholder[data-icon]::before {
  height: 4rem;
  margin-inline-end: 1rem;
  font-size: 2rem;
  line-height: 4rem;
}

section[role="panel"] > header:first-child .searchbox > a {
  width: 4rem;
  height: 3rem;
  margin: 0.5rem 0;
  border-radius: 1.5rem;
  line-height: 3rem;
}

section[role="panel"] > header:first-child .searchbox > a[data-icon]::before {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
}

section[role="panel"] > header:first-child .searchbox .avatar {
  width: 3rem;
  min-width: 3rem;
  padding: 0;
}

section[role="panel"] > header:first-child .searchbox .avatar > img {
  margin: 0;
}

#notifications {
  z-index: 15;
}

#searchbox {
  z-index: 1;
  position: relative;
  margin: 0.5rem 0;
}
