#slideshow-container {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: var(--safezone-width);
  margin: 0 auto;
  padding: 0 1.5rem 2.5rem;
}

@media screen and (orientation: portrait) {
  #slideshow-container {
    aspect-ratio: 4 / 3;
  }
}

@media screen and (min-width: 768px) {
  #slideshow-container {
    aspect-ratio: 2 / 1.1;
  }
}

#slideshow {
  position: absolute;
  top: 0;
  left: 1.5rem;
  width: calc(100% - 3rem);
  height: calc(100% - 2.5rem);
  overflow: hidden;
  border-radius: 1.5rem;
  background-color: var(--item-hover);
}

#slideshow > .slideshow {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1.5rem;
  background-color: #858585;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
  transition: transform 1s cubic-bezier(0.2, 0.9, 0.1, 1), visibility 0.5s ease;
}

#slideshow > .slideshow.previous {
  transform: translateX(-100%) scale(0.5);
}

#slideshow > .slideshow.next {
  transform: translateX(100%) scale(0.5);
}

#slideshow > .slideshow.active {
  visibility: visible;
}

#slideshow > .slideshow .artwork {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#slideshow > .slideshow .text-holder {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 5rem;
}

#slideshow > .slideshow .text-holder h1 {
  width: 100%;
  max-width: 40rem;
  margin: 0;
  overflow: hidden;
  color: #fff;
  font-weight: bold;
  font-size: 3.6rem;
  text-overflow: ellipsis;
}

#slideshow > .slideshow .text-holder p {
  width: 100%;
  max-width: 40rem;
  margin: 0;
  overflow: hidden;
  color: #fff;
  font-weight: normal;
  font-size: 1.6rem;
  text-overflow: ellipsis;
}

#slideshow > .slideshow .text-holder nav {
  display: flex;
  height: 4rem;
  margin: 1rem 0 0;
  padding: 0;
  gap: 1rem;
}

#slideshow > .slideshow .text-holder nav a {
  box-sizing: border-box;
  display: inline-block;
  height: 4rem;
  padding: 0 1.5rem;
  border-radius: 2rem;
  backdrop-filter: blur(20px) saturate(180deg);
  background-color: rgba(51, 51, 51, 0.3);
  color: #fff;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 4rem;
  text-decoration: none;
  transition: transform 0.3s ease;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#slideshow > .slideshow .text-holder nav a:hover {
  outline: none;
  background-color: var(--item-hover);
  transition: background-color 0.1s ease, box-shadow 0.1s ease;
}

#slideshow > .slideshow .text-holder nav a:active {
  outline: none;
  background-color: var(--item-active);
  transition: background-color 0.1s ease, box-shadow 0.1s ease;
}

#slideshow > .slideshow .text-holder nav a.recommend {
  outline: none;
  background-color: var(--accent-color);
  color: var(--accent-color-plus);
}

#slideshow > .slideshow .text-holder nav a.recommend:hover {
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
}

#slideshow > .slideshow .text-holder nav a.recommend:active {
  box-shadow: none;
  opacity: 0.75;
}

#slideshow-dots {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 1rem;
  gap: 0.5rem;
  translate: -50% 0;
}

#slideshow-dots > .dot {
  width: 1rem;
  height: 1rem;
  margin: 0;
  padding: 0;
  border-radius: 1rem;
  background-color: var(--text-color-faded);
  transition: background-color 0.3s cubic-bezier(0.5, 0.8, 0, 1), width 0.3s cubic-bezier(0.5, 0.8, 0, 1);
}

#slideshow-dots > .dot.active {
  width: 4rem;
  background-color: var(--text-color);
}

#slideshow-previous-button,
#slideshow-next-button {
  position: absolute;
  top: calc((100% - 2rem - 10rem) / 2);
  width: 4rem;
  height: 10rem;
  margin: 0;
  padding: 0;
  background-color: transparent;
  line-height: 10rem;
}

#slideshow-previous-button {
  left: 1.5rem;
}

#slideshow-next-button {
  right: 1.5rem;
}

#slideshow-previous-button[data-icon]::before,
#slideshow-next-button[data-icon]::before {
  position: static;
  height: 100%;
}
