#webapps {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: var(--safezone-width);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  #webapps {
    grid-template-columns: repeat(2, 1fr);
  }
}

.category {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--safezone-width);
  margin: 0 auto 1rem;
}

.category > .header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 4rem;
  margin: 0;
  padding: 0 1.5rem;
  gap: 1rem;
}

.category > .header h1 {
  flex-grow: 1;
  width: 100%;
  height: 4rem;
  margin: 0;
  color: var(--text-color);
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 4rem;
  transition: all 0.3s ease;
}

.category > .header a {
  display: flex;
  flex-shrink: 0;
  flex-direction: row-reverse;
  height: 4rem;
  gap: 1rem;
  color: var(--accent-color);
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 4rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.category > .header a[data-icon]::before {
  height: 4rem;
  font-size: 2rem;
  line-height: 4rem;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.category.expanded > .header a[data-icon]::before {
  transform: rotate(180deg);
}

.category > .list {
  transform-origin: top;
  transition: all 0.3s ease;
}

.category.expanded > .list {
  transform: scale(1.025) translateY(-0.2rem);
  border-color: transparent;
  background-color: var(--background-plus);
  box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.2);
}

.category:not(.expanded) > .list li:not(:nth-child(1), :nth-child(2), :nth-child(3)) {
  display: none;
}

.category > .list li img {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 0;
  background-color: transparent;
}

.category > .list li .text-holder {
  flex-grow: 1;
}

.category > .list li .button-holder button {
  position: static;
  width: max-content;
  height: 3.2rem;
  margin: 0;
  padding: 0 1.5rem;
  translate: 0 0;
  font-size: 1.4rem;
  line-height: 3.2rem;
}

.category > .list li .button-holder span {
  color: var(--text-color-faded);
  font-size: 1.4rem;
}

/* .category > .list {
  display: flex;
  width: calc(100% - 3rem);
  height: 100%;
  margin: 0 1.5rem;
  padding: 0;
  overflow-x: auto;
  gap: 1rem;
  border-radius: 1.5rem;
}

.webapp {
  flex-shrink: 0;
  width: 10rem;
  height: 100%;
  border-radius: 1.5rem;
  background-color: var(--background-plus);
  list-style: none;
}

.webapp .icon-holder {
  box-sizing: border-box;
  width: max-content;
  margin: 0 auto;
  padding: 1rem 1rem 0.2rem;
}

.webapp .icon-holder > img {
  width: 6rem;
  height: 6rem;
}

.webapp .text-holder {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem 0.5rem;
}

.webapp .text-holder .name {
  width: 100%;
  color: var(--text-color);
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.webapp .text-holder .stats {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--text-color-faded);
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2rem;
}

.webapp .text-holder .stats > .separator {
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  background-color: var(--text-color);
} */

/* Webapp Panel */
#webapp {
  transform: none;
  /* visibility: visible; */
  /* opacity: 1; */
}
