html, body {
  --dock-height: 4.8rem;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-size: 10px;
  font-family: system-ui;
  user-select: none;
}

#software-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--dock-height);
  overflow: hidden;
  transform: translateY(0) !important;
  border-radius: var(--dock-height);
  background-color: var(--background);
}