#screen.desktop #utility-tray {
  position: fixed;
  top: 0;
  left: unset;
  width: 45rem;
  height: 100%;
  pointer-events: none;
}
html[dir="ltr"] #screen.desktop #utility-tray {
  right: 0;
}
html[dir="rtl"] #screen.desktop #utility-tray {
  left: 0;
}

#screen.desktop #utility-tray-motion {
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: calc(var(--dock-height) + 1rem);
  padding-inline-start: 5rem;
  opacity: 1;
  transition: backdrop-filter 0.5s ease, visibility 0.5s ease;
}
html[dir="ltr"] #screen.desktop #utility-tray-motion {
  -webkit-mask-image: linear-gradient(to right, transparent, white 5rem, white);
  mask-image: linear-gradient(to right, transparent, white 5rem, white);
}
html[dir="rtl"] #screen.desktop #utility-tray-motion {
  -webkit-mask-image: linear-gradient(to left, transparent, white 5rem, white);
  mask-image: linear-gradient(to left, transparent, white 5rem, white);
}

#screen.desktop #utility-tray-motion.visible {
  visibility: visible;
}

#screen.desktop #control-center,
#screen.desktop #notifications {
  position: relative;
  top: 0;
  left: 0;
  flex-grow: 1;
  height: 100%;
  padding: 0;
}

#screen.desktop #control-center {
  flex-grow: unset;
  flex-shrink: 0;
  height: max-content;
}

#screen.desktop #control-center .utility-tray-content {
  max-height: 32rem;
}
