#screen.desktop #software-buttons {
  visibility: visible;
  position: absolute;
  right: 1.5rem;
  bottom: 1rem;
  left: 1.5rem;
  width: calc(100% - 3rem);
  height: var(--dock-height);
  transform: translateY(0);
  border-radius: calc(var(--dock-height) / 2);
  background-color: var(--translucent-background);
  transition: all 0.5s cubic-bezier(0.5, 0.8, 0, 1.2);
}

#screen.desktop.gpu-capable #software-buttons {
  backdrop-filter: blur(20px) saturate(180%);
  background-color: var(--acrylic-background);
}

#screen.desktop:not(.launcher-visible, .lockscreen-visible, .utility-tray-visible) #software-buttons.hidden:not(:hover) {
  right: 0;
  left: 0;
  width: 100%;
  transform: translateY(calc(var(--dock-height) + 0.5rem));
  border-radius: 0;
  transition: all 0.3s ease 2s;
}
