#screen.desktop #software-buttons-statusbar {
  position: absolute;
  top: unset;
  bottom: 0;
  width: max-content;
  height: calc(var(--dock-height) - 1rem);
  margin: 0.5rem;
  padding-inline-start: 3.8rem;
  border-radius: var(--dock-height);
  transition: background-color 0.3s ease;
}
html[dir="ltr"] #screen.desktop #software-buttons-statusbar {
  right: 0;
}
html[dir="rtl"] #screen.desktop #software-buttons-statusbar {
  left: 0;
}

#screen.desktop #software-buttons-statusbar:hover,
#screen.desktop #software-buttons-statusbar.tray-open {
  background-color: var(--item-hover);
  transition: background-color 0.1s ease;
}

#screen.desktop #software-buttons-statusbar:active {
  background-color: var(--item-active);
  transition: background-color 0.1s ease;
}

#screen.desktop #software-buttons-statusbar::before {
  -webkit-mask: url(images/chevron.svg) no-repeat center / cover;
  position: absolute;
  top: calc(50% - 0.9rem);
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--text-color-faded);
  content: '';
  mask: url(images/chevron.svg) no-repeat center / cover;
  transition: transform 0.5s cubic-bezier(1, 0.8, 0, 1);
}
html[dir="ltr"] #screen.desktop #software-buttons-statusbar::before {
  left: 1rem;
  transform: rotate(-90deg);
}
html[dir="rtl"] #screen.desktop #software-buttons-statusbar::before {
  right: 1rem;
  transform: rotate(90deg);
}

html[dir="ltr"] #screen.desktop.utility-tray-visible #software-buttons-statusbar::before {
  transform: rotate(-180deg);
}
html[dir="rtl"] #screen.desktop.utility-tray-visible #software-buttons-statusbar::before {
  transform: rotate(180deg);
}

#screen.desktop #software-buttons-statusbar.utility-tray-motion {
  transform: none;
}

#screen.desktop #software-buttons-statusbar .statusbar-icons {
  display: flex;
  position: static;
  flex-direction: row-reverse;
  align-items: center;
  width: max-content;
  height: 100%;
  margin: 0;
  margin-inline-end: 1rem;
}

#screen.desktop #software-buttons-statusbar .statusbar-icons > div {
  position: static;
  width: max-content;
}

#screen.desktop #software-buttons-statusbar .statusbar-icons > .right > div:not(.hidden, .statusbar-battery-percentage) {
  margin: 0 0.4rem;
}

#screen.desktop #software-buttons-statusbar .statusbar-time {
  margin-inline-start: 1rem;
}
