:host {
  display: block;
  width: calc(100% - 3rem);
  max-width: calc(var(--safezone-width) - 3rem);
  height: 29rem;
  margin: 0 auto 1rem;
  overflow: hidden;
  border-radius: 1.5rem;
  background-color: var(--background-plus);
}

:host > .ad-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:host > .ad-card .badge {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  height: 2rem;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--item-plus);
  color: var(--text-color);
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 2rem;
}

:host > .ad-card .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:host > .ad-card .container > .decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc((100% / 3) * 2);
  background: url(images/eco-friendly.svg) no-repeat center / 20rem 20rem;
  animation: slow-wiggle 10s ease infinite;
}

@keyframes slow-wiggle {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

:host > .ad-card .container > .text-holder {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: max-content;
  padding: 1.5rem;
}

:host > .ad-card .container > .text-holder .logo {
  margin: 0 0 0.5rem;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.6rem;
  font-family: 'Orchid Brand';
}

:host > .ad-card .container > .text-holder .title {
  color: var(--text-color);
  font-size: 1.8rem;
}

:host > .ad-card .container > .text-holder .summary {
  color: var(--text-color-faded);
  font-size: 1.4rem;
}

:host > .ad-card .container > .text-holder .buttons {
  display: flex;
  margin: 1rem 0 0;
  gap: 1rem;
}

:host > .ad-card .container > .text-holder .buttons button {
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  border: none;
  border-radius: 2rem;
  outline: none;
  background-color: var(--item-plus);
  color: var(--text-color);
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 4rem;
  transition: background-color 0.3s ease;
}

:host > .ad-card .container > .text-holder .buttons button:hover {
  background-color: var(--item-hover-plus);
  transition: background-color 0.1s ease;
}

:host > .ad-card .container > .text-holder .buttons button:active {
  background-color: var(--item-active-plus);
  transition: background-color 0.1s ease;
}
