.pack-checkbox {
  display: inline-flex;
  width: 100%;
  overflow: hidden;
}

.pack-checkbox > label {
  display: inline-flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.pack-checkbox > span {
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pack-checkbox > span input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 25%;
  outline: none;
  background-color: var(--checkbox-normal);
  transition: background-color 0.3s ease;
}

.pack-checkbox > span input[type="checkbox"]:hover {
  background-color: var(--checkbox-hover);
  transition: background-color 0.1s ease;
}

.pack-checkbox > span input[type="checkbox"]:active {
  background-color: var(--checkbox-active);
  transition: background-color 0.1s ease;
}

.pack-checkbox > span input[type="checkbox"]:checked {
  background-color: var(--accent-color);
}

.pack-checkbox.danger > span input[type="checkbox"]:checked {
  background-color: #c00040;
}

.pack-checkbox > span input[type="checkbox"]::before {
  z-index: 1;
  position: absolute;
  top: 1.125rem;
  left: 0.4rem;
  width: 0.2rem;
  height: 0rem;
  transform: rotate(-45deg);
  transform-origin: 50% 0.1rem;
  border-radius: 0.2rem;
  background-color: var(--accent-color-plus);
  content: '';
  opacity: 0;
  pointer-events: none;
  transition: height 0.1s cubic-bezier(0.5, 0.8, 0, 1) 0.2s, opacity 0.3s ease;
}

.pack-checkbox.danger > span input[type="checkbox"]::before {
  background-color: rgba(255, 255, 255, 0.75);
}

.pack-checkbox > span input[type="checkbox"]:checked::before {
  height: 1rem;
  opacity: 1;
  transition: height 0.3s cubic-bezier(0.5, 0.8, 0, 1), opacity 0.3s ease;
}

.pack-checkbox > span input[type="checkbox"]::after {
  z-index: 1;
  position: absolute;
  bottom: 0.6rem;
  left: 1rem;
  width: 0.2rem;
  height: 0rem;
  transform: rotate(45deg);
  transform-origin: 50% calc(100% - 0.1rem);
  border-radius: 0.2rem;
  background-color: var(--accent-color-plus);
  content: '';
  opacity: 0;
  pointer-events: none;
  transition: height 0.2s cubic-bezier(0, 0.2, 0, 1), opacity 0.3s ease;
}

.pack-checkbox.danger > span input[type="checkbox"]::after {
  background-color: rgba(255, 255, 255, 0.75);
}

.pack-checkbox > span input[type="checkbox"]:checked::after {
  height: 1.5rem;
  opacity: 1;
  transition: height 0.3s cubic-bezier(0, 0.2, 0, 1.5) 0.2s, opacity 0.3s ease;
}
