#dockbar {
  display: grid;
  z-index: 1;
  position: absolute;
  bottom: var(--software-buttons-height);
  left: 1rem;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  width: calc(100% - 2rem);
  height: calc(3rem + var(--icon-size));
  margin: 0;
  padding: 0;
  transform: translateY(0);
  border-radius: 3rem;
  transition: all 0.5s cubic-bezier(0.2, 0.9, 0.1, 1.1) 0.5s;
}

#app.hidden #dockbar {
  transform: translateY(calc(100% + var(--software-buttons-height)));
  transition: all 0.3s ease;
}

#dockbar .icon .icon-holder {
  padding: 1.5rem 0;
}

#dockbar .icon .icon-holder > .notification-badge,
#dockbar .icon .icon-holder > .uninstall-button {
  top: 1rem;
}

#dockbar .icon .name {
  display: none;
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  #dockbar {
    top: var(--statusbar-height);
    right: 1rem;
    bottom: unset;
    left: unset;
    grid-template-rows: repeat(var(--grid-columns), 1fr);
    grid-template-columns: 1fr;
    width: calc(3rem + var(--icon-size));
    height: calc(100% - var(--statusbar-height) - 1rem);
  }
}

@media screen and (min-width: 768px) {
  #dockbar {
    box-sizing: border-box;
    left: 50%;
    grid-template-columns: repeat(var(--grid-columns), 8rem);
    width: max-content;
    max-width: calc(100% - 2rem);
    padding: 0 0.5rem;
    translate: -50% 0;
    /* backdrop-filter: blur(20px) saturate(180%);
    background-color: var(--acrylic-background); */
  }
}
