#search {
  --search-background: rgba(0, 0, 0, 0.5);
  --search-input-background: rgba(0, 0, 0, 0.1);
  filter: none;
  transition: all 0.3s ease;
}

#search::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(calc(20px * var(--motion-progress, 0))) saturate(calc(100% + (80% * var(--motion-progress, 0))));
  background-color: rgba(51, 51, 51, calc(var(--motion-progress, 0) * 0.3));
  content: '';
}

#search[role="panel"] > header:first-child {
  --background: transparent;
  -webkit-mask-image: linear-gradient(to bottom, white, white calc(100% - 1.5rem), transparent);
  height: calc(6rem + var(--statusbar-height));
  margin: 0 auto calc((var(--statusbar-height) + 6rem) * (var(--progress, 0) * -1));
  transform: translateY(calc((-3rem * (1 - var(--motion-progress, 0))) + (13.5rem * var(--overscroll-progress, 0))));
  backdrop-filter: blur(calc(10px * var(--progress, 0))) saturate(calc(100% + (80% * var(--progress, 0))));
  background-image: none;
  background-color: transparent;
  mask-image: linear-gradient(to bottom, white, white calc(100% - 1.5rem), transparent);
  transition: all 0.3s ease;
}

#app.transitioning #search[role="panel"] > header:first-child {
  transition: all 0.5s ease;
}

#search[role="panel"] > header:first-child form[role="search"] {
  margin: 0 0.5rem;
  background-color: var(--search-input-background);
}

#search-results {
  background-color: var(--search-background);
  opacity: var(--motion-progress, 0);
}

#search-results li {
  flex-direction: row;
  align-items: center;
}

#search-results li > img {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 0;
  background-color: transparent;
}

#search-results li > div {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
}
