:host {
  flex-shrink: 1;
  width: 100%;
  color: #fff;
}

:host > .text-holder {
  display: flex;
  width: 100%;
}

:host > .text-holder .text {
  width: 100%;
  color: currentColor;
  font-weight: var(--generic-label-weight);
  font-size: 1.6rem;
}
